<script>

  var supernova_mode = "production";
  var supernova_tracker_url = "https:\/\/etrackerd.digikala.com\/tracker\/events\/";
  var variants = {
    "14040808": {
      "id": 14040808,
      "active": true,
      "active_digistyle": true,
      "ovl_selling_active": true,
      "title": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0633\u0627\u0645\u0633\u0648\u0646\u06af \u0645\u062f\u0644 Galaxy S21 Ultra 5G SM-G998B\/DS \u062f\u0648 \u0633\u06cc\u0645 \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 256 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a \u0648 \u0631\u0645 12 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a | \u0646\u0642\u0631\u0647 \u0627\u06cc | \u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u062f\u0627\u0631\u06cc\u0627 \u0647\u0645\u0631\u0627\u0647 \u067e\u0627\u06cc\u062a\u062e\u062a",
      "color": {
        "id": 12,
        "title": "\u0646\u0642\u0631\u0647 \u0627\u06cc",
        "code": "#dedede",
        "hexCode": "#dedede",
        "hex_code": "#dedede"
      },
      "size": [],
      "site": "digikala",
      "warranty": {
        "id": 4300,
        "title": "\u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u062f\u0627\u0631\u06cc\u0627 \u0647\u0645\u0631\u0627\u0647 \u067e\u0627\u06cc\u062a\u062e\u062a",
        "description": null,
        "phone": null,
        "address": null,
        "working_hours": null,
        "condition": null
      },
      "marketplace_seller": {
        "id": 1,
        "name": "\u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627",
        "rate": 0,
        "rateCount": 0,
        "rating": {
          "cancel_percentage": 100,
          "cancel_summarize": "excellent",
          "return_percentage": 99.9,
          "return_summarize": "excellent",
          "ship_on_time_percentage": 100,
          "ship_on_time_summarize": "excellent",
          "final_score": 5,
          "final_percentage": 100
        },
        "stars": 5,
        "is_trusted": false,
        "is_official_seller": false,
        "is_roosta": false,
        "url": "\/seller\/5a52n\/",
        "registerTimeAgo": "4 \u0633\u0627\u0644, 8 \u0645\u0627\u0647"
      },
      "leadTime": 0,
      "shipping_type": "digikala",
      "gifts": [],
      "gift_product_ids": [],
      "seller_lead_time": 0,
      "market_place_selling_stock": 0,
      "is_fresh": false,
      "scheduled_stock": false,
      "is_digikala_owner": true,
      "rank": 99.87,
      "sr": 86.6,
      "has_similar_variants": true,
      "fast_shopping_badge": false,
      "fast_shopping_confirm": false,
      "is_multi_warehouse": false,
      "is_ship_by_seller": false,
      "is_eligible_for_jet_delivery": true,
      "plus_cash_back": null,
      "stats": {
        "totally_satisfied": {
          "rate_count": 6,
          "rate": 66.67
        },
        "satisfied": {
          "rate_count": 2,
          "rate": 22.22
        },
        "neutral": {
          "rate_count": 0,
          "rate": 0
        },
        "dissatisfied": {
          "rate_count": 0,
          "rate": 0
        },
        "totally_dissatisfied": {
          "rate_count": 1,
          "rate": 11.11
        },
        "total_count": 9,
        "total_rate": 86.6
      },
      "available_on_website": true,
      "provider": "digikala",
      "is_heavy": false,
      "is_electronic": false,
      "sbs_seller_cities": [],
      "price_list": {
        "id": 428763803,
        "discount": 8,
        "discount_amount": 0,
        "rrp_price": 289990000,
        "selling_price": 265990000,
        "is_incredible_offer": true,
        "is_locked_for_plus": true,
        "timer": "2021-04-26 00:00:00",
        "variant_id": 14040808,
        "promotion": {
          "is_incredible_offer": true,
          "is_selling_and_sales": false,
          "has_promotion_badge": true,
          "is_plus_promotion": true,
          "is_early_access": false,
          "is_app_incredible": false,
          "is_themeable": false,
          "title": "\u0634\u06af\u0641\u062a\u200c\u0627\u0646\u06af\u06cc\u0632 \u062f\u06cc\u062c\u06cc\u200c\u067e\u0644\u0627\u0633",
          "color": null,
          "image": null
        },
        "variant_gold_price_details": null,
        "marketable_stock": 100,
        "orderLimit": 1,
        "plus_variant_cash_back": 0
      },
      "addToCartUrl": "\/cart\/add\/14040808\/1\/",
      "addToYaldaCartUrl": "\/ajax\/cart\/move\/save-for-yalda\/14040808\/",
      "dcPoint": 150,
      "is_free_shipment": true,
      "providerData": {
        "description": "\u0645\u0648\u062c\u0648\u062f \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627",
        "providers": [{
          "title": "\u0627\u0631\u0633\u0627\u0644 \u062a\u0648\u0633\u0637 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627",
          "description": "\u0627\u06cc\u0646 \u06a9\u0627\u0644\u0627 \u067e\u0633 \u0627\u0632 \u0645\u062f\u062a \u0632\u0645\u0627\u0646 \u0645\u0634\u062e\u0635 \u0634\u062f\u0647 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062a\u0627\u0645\u06cc\u0646 \u0648 \u0622\u0645\u0627\u062f\u0647 \u067e\u0631\u062f\u0627\u0632\u0634 \u0645\u06cc\u200c\u06af\u0631\u062f\u062f \u0648 \u062a\u0648\u0633\u0637 \u067e\u06cc\u06a9 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062f\u0631 \u0628\u0627\u0632\u0647 \u0627\u0646\u062a\u062e\u0627\u0628\u06cc \u0627\u0631\u0633\u0627\u0644 \u062e\u0648\u0627\u0647\u062f \u0634\u062f."
        }],
        "hasLeadTime": false,
        "badge_type": "without_lead_time"
      },
      "newProviderData": [{
        "type": "digikala",
        "has_lead_time": false,
        "text": "\u0627\u0631\u0633\u0627\u0644 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627"
      }],
      "isExistsInWarehouse": true
    },
    "14502791": {
      "id": 14502791,
      "active": true,
      "active_digistyle": true,
      "ovl_selling_active": true,
      "title": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0633\u0627\u0645\u0633\u0648\u0646\u06af \u0645\u062f\u0644 Galaxy S21 Ultra 5G SM-G998B\/DS \u062f\u0648 \u0633\u06cc\u0645 \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 256 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a \u0648 \u0631\u0645 12 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a | \u0645\u0634\u06a9\u06cc | \u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u062f\u06cc\u062c\u06cc \u0633\u0631\u0648\u06cc\u0633 + \u0628\u06cc\u0645\u0647 12 \u0645\u0627\u0647\u0647 \u0627\u06cc\u0631\u0627\u0646",
      "color": {
        "id": 1,
        "title": "\u0645\u0634\u06a9\u06cc",
        "code": "#212121",
        "hexCode": "#212121",
        "hex_code": "#212121"
      },
      "size": [],
      "site": "digikala",
      "warranty": {
        "id": 6610,
        "title": "\u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u062f\u06cc\u062c\u06cc \u0633\u0631\u0648\u06cc\u0633 + \u0628\u06cc\u0645\u0647 12 \u0645\u0627\u0647\u0647 \u0627\u06cc\u0631\u0627\u0646",
        "description": null,
        "phone": null,
        "address": null,
        "working_hours": null,
        "condition": null
      },
      "marketplace_seller": {
        "id": 348163,
        "name": "\u062f\u06cc \u062c\u06cc \u0644\u0646\u062f \u067e\u0644\u0627\u0633",
        "rate": 85,
        "rateCount": 6014,
        "rating": {
          "cancel_percentage": 100,
          "cancel_summarize": "excellent",
          "return_percentage": 99.7,
          "return_summarize": "good",
          "ship_on_time_percentage": 97.9,
          "ship_on_time_summarize": "very_bad",
          "final_score": 2.3,
          "final_percentage": 45.99999999999999
        },
        "stars": 2.3,
        "is_trusted": true,
        "is_official_seller": false,
        "is_roosta": false,
        "url": "\/seller\/cafj3\/",
        "registerTimeAgo": "11 \u0645\u0627\u0647, 4 \u0647\u0641\u062a\u0647"
      },
      "leadTime": 0,
      "shipping_type": "both",
      "gifts": [],
      "gift_product_ids": [],
      "seller_lead_time": 0,
      "market_place_selling_stock": 0,
      "is_fresh": false,
      "scheduled_stock": false,
      "promotion_price_id": null,
      "is_digikala_owner": false,
      "rank": 93.52,
      "sr": 92.4,
      "has_similar_variants": false,
      "fast_shopping_badge": false,
      "fast_shopping_confirm": false,
      "is_multi_warehouse": false,
      "is_ship_by_seller": false,
      "is_eligible_for_jet_delivery": true,
      "plus_cash_back": null,
      "stats": {
        "totally_satisfied": {
          "rate_count": 8,
          "rate": 61.54
        },
        "satisfied": {
          "rate_count": 5,
          "rate": 38.46
        },
        "neutral": {
          "rate_count": 0,
          "rate": 0
        },
        "dissatisfied": {
          "rate_count": 0,
          "rate": 0
        },
        "totally_dissatisfied": {
          "rate_count": 0,
          "rate": 0
        },
        "total_count": 13,
        "total_rate": 92.4
      },
      "available_on_website": true,
      "provider": "digikala",
      "is_heavy": false,
      "is_electronic": false,
      "sbs_seller_cities": [1698, 1623],
      "price_list": {
        "id": 428817307,
        "discount_percent": null,
        "rrp_price": 285000000,
        "selling_price": 285000000,
        "is_incredible_offer": false,
        "is_plus_offer": false,
        "is_sponsored_offer": false,
        "is_locked_for_plus": false,
        "promotion_id": null,
        "timer": null,
        "pre_sell": false,
        "variant_id": 14502791,
        "orderLimit": 1,
        "initial_limit": null,
        "tags": null,
        "cache_key_created_at": "2021-04-24 11:30:48",
        "cache_update_source": "supernova-digikala-desktop",
        "discount_amount": 0,
        "discount": 0,
        "show_discount_badge": false,
        "marketable_stock": 4,
        "plus_variant_cash_back": 0
      },
      "addToCartUrl": "\/cart\/add\/14502791\/1\/",
      "addToYaldaCartUrl": "\/ajax\/cart\/move\/save-for-yalda\/14502791\/",
      "dcPoint": 150,
      "is_free_shipment": true,
      "providerData": {
        "description": "\u0645\u0648\u062c\u0648\u062f \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627",
        "providers": [{
          "title": "\u0627\u0631\u0633\u0627\u0644 \u062a\u0648\u0633\u0637 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627",
          "description": "\u0627\u06cc\u0646 \u06a9\u0627\u0644\u0627 \u067e\u0633 \u0627\u0632 \u0645\u062f\u062a \u0632\u0645\u0627\u0646 \u0645\u0634\u062e\u0635 \u0634\u062f\u0647 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062a\u0627\u0645\u06cc\u0646 \u0648 \u0622\u0645\u0627\u062f\u0647 \u067e\u0631\u062f\u0627\u0632\u0634 \u0645\u06cc\u200c\u06af\u0631\u062f\u062f \u0648 \u062a\u0648\u0633\u0637 \u067e\u06cc\u06a9 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062f\u0631 \u0628\u0627\u0632\u0647 \u0627\u0646\u062a\u062e\u0627\u0628\u06cc \u0627\u0631\u0633\u0627\u0644 \u062e\u0648\u0627\u0647\u062f \u0634\u062f."
        }],
        "hasLeadTime": false,
        "badge_type": "without_lead_time"
      },
      "newProviderData": [{
        "type": "digikala",
        "has_lead_time": false,
        "text": "\u0627\u0631\u0633\u0627\u0644 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627"
      }],
      "isExistsInWarehouse": true
    },
    "14794016": {
      "id": 14794016,
      "active": true,
      "active_digistyle": true,
      "ovl_selling_active": true,
      "title": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0633\u0627\u0645\u0633\u0648\u0646\u06af \u0645\u062f\u0644 Galaxy S21 Ultra 5G SM-G998B\/DS \u062f\u0648 \u0633\u06cc\u0645 \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 256 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a \u0648 \u0631\u0645 12 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a | \u0646\u0642\u0631\u0647 \u0627\u06cc | \u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u062f\u0627\u0631\u06cc\u0627 \u0647\u0645\u0631\u0627\u0647 \u067e\u0627\u06cc\u062a\u062e\u062a",
      "color": {
        "id": 12,
        "title": "\u0646\u0642\u0631\u0647 \u0627\u06cc",
        "code": "#dedede",
        "hexCode": "#dedede",
        "hex_code": "#dedede"
      },
      "size": [],
      "site": "digikala",
      "warranty": {
        "id": 4300,
        "title": "\u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u062f\u0627\u0631\u06cc\u0627 \u0647\u0645\u0631\u0627\u0647 \u067e\u0627\u06cc\u062a\u062e\u062a",
        "description": null,
        "phone": null,
        "address": null,
        "working_hours": null,
        "condition": null
      },
      "marketplace_seller": {
        "id": 559018,
        "name": "\u0647\u0634\u062a\u06af \u06a9\u0627\u0644\u0627 \u0631\u0632 \u0647\u0645\u0631\u0627\u0647",
        "rate": 81,
        "rateCount": 48,
        "rating": {
          "cancel_percentage": 100,
          "cancel_summarize": "excellent",
          "return_percentage": 100,
          "return_summarize": "excellent",
          "ship_on_time_percentage": 100,
          "ship_on_time_summarize": "excellent",
          "final_score": 5,
          "final_percentage": 100
        },
        "stars": 5,
        "is_trusted": false,
        "is_official_seller": false,
        "is_roosta": false,
        "url": "\/seller\/cyr2t\/",
        "registerTimeAgo": "3 \u0645\u0627\u0647, 4 \u0647\u0641\u062a\u0647"
      },
      "leadTime": 1,
      "shipping_type": "digikala",
      "gifts": [],
      "gift_product_ids": [],
      "seller_lead_time": 0,
      "market_place_selling_stock": 9,
      "is_fresh": false,
      "scheduled_stock": false,
      "promotion_price_id": null,
      "is_digikala_owner": false,
      "rank": 89.97,
      "sr": 100,
      "has_similar_variants": true,
      "fast_shopping_badge": false,
      "fast_shopping_confirm": false,
      "is_multi_warehouse": false,
      "is_ship_by_seller": false,
      "is_eligible_for_jet_delivery": false,
      "plus_cash_back": null,
      "stats": {
        "totally_satisfied": {
          "rate_count": 1,
          "rate": 100
        },
        "satisfied": {
          "rate_count": 0,
          "rate": 0
        },
        "neutral": {
          "rate_count": 0,
          "rate": 0
        },
        "dissatisfied": {
          "rate_count": 0,
          "rate": 0
        },
        "totally_dissatisfied": {
          "rate_count": 0,
          "rate": 0
        },
        "total_count": 1,
        "total_rate": 100
      },
      "available_on_website": true,
      "provider": "digikala",
      "is_heavy": false,
      "is_electronic": false,
      "sbs_seller_cities": [],
      "price_list": {
        "id": 428743570,
        "discount_percent": null,
        "rrp_price": 287000000,
        "selling_price": 287000000,
        "is_incredible_offer": false,
        "is_plus_offer": false,
        "is_sponsored_offer": false,
        "is_locked_for_plus": false,
        "promotion_id": null,
        "timer": null,
        "pre_sell": false,
        "variant_id": 14794016,
        "orderLimit": 2,
        "initial_limit": null,
        "tags": null,
        "cache_key_created_at": "2021-04-24 10:06:32",
        "cache_update_source": "supernova-digikala-mobile",
        "discount_amount": 0,
        "discount": 0,
        "show_discount_badge": false,
        "marketable_stock": 8,
        "plus_variant_cash_back": 0
      },
      "addToCartUrl": "\/cart\/add\/14794016\/1\/",
      "addToYaldaCartUrl": "\/ajax\/cart\/move\/save-for-yalda\/14794016\/",
      "dcPoint": 150,
      "is_free_shipment": true,
      "providerData": {
        "description": "\u0645\u0648\u062c\u0648\u062f \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u0641\u0631\u0648\u0634\u0646\u062f\u0647",
        "providers": [{
          "title": "\u0627\u0631\u0633\u0627\u0644 \u062a\u0648\u0633\u0637 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631",
          "description": "\u0627\u06cc\u0646 \u06a9\u0627\u0644\u0627 \u067e\u0633 \u0627\u0632 \u0645\u062f\u062a \u0632\u0645\u0627\u0646 \u0645\u0634\u062e\u0635 \u0634\u062f\u0647 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062a\u0627\u0645\u06cc\u0646 \u0648 \u0622\u0645\u0627\u062f\u0647 \u067e\u0631\u062f\u0627\u0632\u0634 \u0645\u06cc\u200c\u06af\u0631\u062f\u062f \u0648 \u062a\u0648\u0633\u0637 \u067e\u06cc\u06a9 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062f\u0631 \u0628\u0627\u0632\u0647 \u0627\u0646\u062a\u062e\u0627\u0628\u06cc \u0627\u0631\u0633\u0627\u0644 \u062e\u0648\u0627\u0647\u062f \u0634\u062f."
        }],
        "hasLeadTime": true,
        "badge_type": "with_lead_time"
      },
      "newProviderData": [{
        "type": "digikala",
        "has_lead_time": true,
        "text": "\u0627\u0631\u0633\u0627\u0644 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631"
      }],
      "isExistsInWarehouse": false
    },
    "15558312": {
      "id": 15558312,
      "active": true,
      "active_digistyle": true,
      "ovl_selling_active": true,
      "title": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0633\u0627\u0645\u0633\u0648\u0646\u06af \u0645\u062f\u0644 Galaxy S21 Ultra 5G SM-G998B\/DS \u062f\u0648 \u0633\u06cc\u0645 \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 256 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a \u0648 \u0631\u0645 12 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a | \u0646\u0642\u0631\u0647 \u0627\u06cc | \u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0645\u0627\u0631\u06cc\u0627\u062a\u0644 (\u067e\u0627\u0631\u0633\u06cc\u0627\u0646 \u0628\u0627\u0631\u0627\u0646 \u067e\u0631\u062f\u0627\u0632\u0634 \u0647\u0648\u0634\u0645\u0646\u062f)",
      "color": {
        "id": 12,
        "title": "\u0646\u0642\u0631\u0647 \u0627\u06cc",
        "code": "#dedede",
        "hexCode": "#dedede",
        "hex_code": "#dedede"
      },
      "size": [],
      "site": "digikala",
      "warranty": {
        "id": 6119,
        "title": "\u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0645\u0627\u0631\u06cc\u0627\u062a\u0644 (\u067e\u0627\u0631\u0633\u06cc\u0627\u0646 \u0628\u0627\u0631\u0627\u0646 \u067e\u0631\u062f\u0627\u0632\u0634 \u0647\u0648\u0634\u0645\u0646\u062f)",
        "description": null,
        "phone": null,
        "address": null,
        "working_hours": null,
        "condition": null
      },
      "marketplace_seller": {
        "id": 277109,
        "name": "\u0645\u0648\u0628\u0627\u06cc\u0644 \u0631\u0648\u0634\u0646",
        "rate": 84,
        "rateCount": 68,
        "rating": {
          "cancel_percentage": 100,
          "cancel_summarize": "excellent",
          "return_percentage": 100,
          "return_summarize": "excellent",
          "ship_on_time_percentage": 100,
          "ship_on_time_summarize": "excellent",
          "final_score": 5,
          "final_percentage": 100
        },
        "stars": 5,
        "is_trusted": true,
        "is_official_seller": false,
        "is_roosta": false,
        "url": "\/seller\/azdaf\/",
        "registerTimeAgo": "1 \u0633\u0627\u0644, 3 \u0645\u0627\u0647"
      },
      "leadTime": 1,
      "shipping_type": "digikala",
      "gifts": [],
      "gift_product_ids": [],
      "seller_lead_time": 0,
      "market_place_selling_stock": 1,
      "is_fresh": false,
      "scheduled_stock": false,
      "promotion_price_id": null,
      "is_digikala_owner": false,
      "rank": 88.89,
      "sr": null,
      "has_similar_variants": false,
      "fast_shopping_badge": false,
      "fast_shopping_confirm": false,
      "is_multi_warehouse": false,
      "is_ship_by_seller": false,
      "is_eligible_for_jet_delivery": false,
      "plus_cash_back": null,
      "stats": null,
      "available_on_website": true,
      "provider": "digikala",
      "is_heavy": false,
      "is_electronic": false,
      "sbs_seller_cities": [],
      "price_list": {
        "id": 418832911,
        "discount_percent": null,
        "rrp_price": 289990000,
        "selling_price": 289990000,
        "is_incredible_offer": false,
        "is_plus_offer": false,
        "is_sponsored_offer": false,
        "is_locked_for_plus": false,
        "promotion_id": null,
        "timer": null,
        "pre_sell": false,
        "variant_id": 15558312,
        "orderLimit": 1,
        "initial_limit": null,
        "tags": null,
        "cache_key_created_at": "2021-04-22 10:25:56",
        "cache_update_source": "supernova-digikala-desktop",
        "discount_amount": 0,
        "discount": 0,
        "show_discount_badge": false,
        "marketable_stock": 1,
        "plus_variant_cash_back": 0
      },
      "addToCartUrl": "\/cart\/add\/15558312\/1\/",
      "addToYaldaCartUrl": "\/ajax\/cart\/move\/save-for-yalda\/15558312\/",
      "dcPoint": 150,
      "is_free_shipment": true,
      "providerData": {
        "description": "\u0645\u0648\u062c\u0648\u062f \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u0641\u0631\u0648\u0634\u0646\u062f\u0647",
        "providers": [{
          "title": "\u0627\u0631\u0633\u0627\u0644 \u062a\u0648\u0633\u0637 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631",
          "description": "\u0627\u06cc\u0646 \u06a9\u0627\u0644\u0627 \u067e\u0633 \u0627\u0632 \u0645\u062f\u062a \u0632\u0645\u0627\u0646 \u0645\u0634\u062e\u0635 \u0634\u062f\u0647 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062a\u0627\u0645\u06cc\u0646 \u0648 \u0622\u0645\u0627\u062f\u0647 \u067e\u0631\u062f\u0627\u0632\u0634 \u0645\u06cc\u200c\u06af\u0631\u062f\u062f \u0648 \u062a\u0648\u0633\u0637 \u067e\u06cc\u06a9 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062f\u0631 \u0628\u0627\u0632\u0647 \u0627\u0646\u062a\u062e\u0627\u0628\u06cc \u0627\u0631\u0633\u0627\u0644 \u062e\u0648\u0627\u0647\u062f \u0634\u062f."
        }],
        "hasLeadTime": true,
        "badge_type": "with_lead_time"
      },
      "newProviderData": [{
        "type": "digikala",
        "has_lead_time": true,
        "text": "\u0627\u0631\u0633\u0627\u0644 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631"
      }],
      "isExistsInWarehouse": false
    },
    "15873838": {
      "id": 15873838,
      "active": true,
      "active_digistyle": true,
      "ovl_selling_active": true,
      "title": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0633\u0627\u0645\u0633\u0648\u0646\u06af \u0645\u062f\u0644 Galaxy S21 Ultra 5G SM-G998B\/DS \u062f\u0648 \u0633\u06cc\u0645 \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 256 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a \u0648 \u0631\u0645 12 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a | \u0646\u0642\u0631\u0647 \u0627\u06cc | \u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0622\u0631\u06a9\u0627 \u062a\u062c\u0627\u0631\u062a \u0628\u06cc\u0633\u062a\u0648\u0646",
      "color": {
        "id": 12,
        "title": "\u0646\u0642\u0631\u0647 \u0627\u06cc",
        "code": "#dedede",
        "hexCode": "#dedede",
        "hex_code": "#dedede"
      },
      "size": [],
      "site": "digikala",
      "warranty": {
        "id": 6180,
        "title": "\u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0622\u0631\u06a9\u0627 \u062a\u062c\u0627\u0631\u062a \u0628\u06cc\u0633\u062a\u0648\u0646",
        "description": null,
        "phone": null,
        "address": null,
        "working_hours": null,
        "condition": null
      },
      "marketplace_seller": {
        "id": 277109,
        "name": "\u0645\u0648\u0628\u0627\u06cc\u0644 \u0631\u0648\u0634\u0646",
        "rate": 84,
        "rateCount": 68,
        "rating": {
          "cancel_percentage": 100,
          "cancel_summarize": "excellent",
          "return_percentage": 100,
          "return_summarize": "excellent",
          "ship_on_time_percentage": 100,
          "ship_on_time_summarize": "excellent",
          "final_score": 5,
          "final_percentage": 100
        },
        "stars": 5,
        "is_trusted": true,
        "is_official_seller": false,
        "is_roosta": false,
        "url": "\/seller\/azdaf\/",
        "registerTimeAgo": "1 \u0633\u0627\u0644, 3 \u0645\u0627\u0647"
      },
      "leadTime": 1,
      "shipping_type": "digikala",
      "gifts": [],
      "gift_product_ids": [],
      "seller_lead_time": 0,
      "market_place_selling_stock": 1,
      "is_fresh": false,
      "scheduled_stock": false,
      "promotion_price_id": null,
      "is_digikala_owner": false,
      "rank": 88.89,
      "sr": null,
      "has_similar_variants": true,
      "fast_shopping_badge": false,
      "fast_shopping_confirm": false,
      "is_multi_warehouse": false,
      "is_ship_by_seller": false,
      "is_eligible_for_jet_delivery": false,
      "plus_cash_back": null,
      "stats": null,
      "available_on_website": true,
      "provider": "digikala",
      "is_heavy": false,
      "is_electronic": false,
      "sbs_seller_cities": [],
      "price_list": {
        "id": 423700477,
        "discount_percent": null,
        "rrp_price": 289990000,
        "selling_price": 289990000,
        "is_incredible_offer": false,
        "is_plus_offer": false,
        "is_sponsored_offer": false,
        "is_locked_for_plus": false,
        "promotion_id": null,
        "timer": null,
        "pre_sell": false,
        "variant_id": 15873838,
        "orderLimit": 1,
        "initial_limit": null,
        "tags": null,
        "cache_key_created_at": "2021-04-19 20:22:05",
        "cache_update_source": "supernova-digikala-bellatrix",
        "discount_amount": 0,
        "discount": 0,
        "show_discount_badge": false,
        "marketable_stock": 1,
        "plus_variant_cash_back": 0
      },
      "addToCartUrl": "\/cart\/add\/15873838\/1\/",
      "addToYaldaCartUrl": "\/ajax\/cart\/move\/save-for-yalda\/15873838\/",
      "dcPoint": 150,
      "is_free_shipment": true,
      "providerData": {
        "description": "\u0645\u0648\u062c\u0648\u062f \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u0641\u0631\u0648\u0634\u0646\u062f\u0647",
        "providers": [{
          "title": "\u0627\u0631\u0633\u0627\u0644 \u062a\u0648\u0633\u0637 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631",
          "description": "\u0627\u06cc\u0646 \u06a9\u0627\u0644\u0627 \u067e\u0633 \u0627\u0632 \u0645\u062f\u062a \u0632\u0645\u0627\u0646 \u0645\u0634\u062e\u0635 \u0634\u062f\u0647 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062a\u0627\u0645\u06cc\u0646 \u0648 \u0622\u0645\u0627\u062f\u0647 \u067e\u0631\u062f\u0627\u0632\u0634 \u0645\u06cc\u200c\u06af\u0631\u062f\u062f \u0648 \u062a\u0648\u0633\u0637 \u067e\u06cc\u06a9 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062f\u0631 \u0628\u0627\u0632\u0647 \u0627\u0646\u062a\u062e\u0627\u0628\u06cc \u0627\u0631\u0633\u0627\u0644 \u062e\u0648\u0627\u0647\u062f \u0634\u062f."
        }],
        "hasLeadTime": true,
        "badge_type": "with_lead_time"
      },
      "newProviderData": [{
        "type": "digikala",
        "has_lead_time": true,
        "text": "\u0627\u0631\u0633\u0627\u0644 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631"
      }],
      "isExistsInWarehouse": false
    },
    "14789242": {
      "id": 14789242,
      "active": true,
      "active_digistyle": true,
      "ovl_selling_active": true,
      "title": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0633\u0627\u0645\u0633\u0648\u0646\u06af \u0645\u062f\u0644 Galaxy S21 Ultra 5G SM-G998B\/DS \u062f\u0648 \u0633\u06cc\u0645 \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 256 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a \u0648 \u0631\u0645 12 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a | \u0645\u0634\u06a9\u06cc | \u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u062f\u0627\u0631\u06cc\u0627 \u0647\u0645\u0631\u0627\u0647 \u067e\u0627\u06cc\u062a\u062e\u062a",
      "color": {
        "id": 1,
        "title": "\u0645\u0634\u06a9\u06cc",
        "code": "#212121",
        "hexCode": "#212121",
        "hex_code": "#212121"
      },
      "size": [],
      "site": "digikala",
      "warranty": {
        "id": 4300,
        "title": "\u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u062f\u0627\u0631\u06cc\u0627 \u0647\u0645\u0631\u0627\u0647 \u067e\u0627\u06cc\u062a\u062e\u062a",
        "description": null,
        "phone": null,
        "address": null,
        "working_hours": null,
        "condition": null
      },
      "marketplace_seller": {
        "id": 440252,
        "name": "\u0645\u0627\u06a9\u0627\u0646 \u067e\u0644\u0627\u0633",
        "rate": 82,
        "rateCount": 27,
        "rating": {
          "cancel_percentage": 100,
          "cancel_summarize": "excellent",
          "return_percentage": 100,
          "return_summarize": "excellent",
          "ship_on_time_percentage": 98.1,
          "ship_on_time_summarize": "very_bad",
          "final_score": 3,
          "final_percentage": 60
        },
        "stars": 3,
        "is_trusted": false,
        "is_official_seller": false,
        "is_roosta": false,
        "url": "\/seller\/cngus\/",
        "registerTimeAgo": "7 \u0645\u0627\u0647, 2 \u0631\u0648\u0632"
      },
      "leadTime": 1,
      "shipping_type": "both",
      "gifts": [],
      "gift_product_ids": [],
      "seller_lead_time": 0,
      "market_place_selling_stock": 1,
      "is_fresh": false,
      "scheduled_stock": false,
      "promotion_price_id": null,
      "is_digikala_owner": false,
      "rank": 88.87,
      "sr": null,
      "has_similar_variants": false,
      "fast_shopping_badge": false,
      "fast_shopping_confirm": false,
      "is_multi_warehouse": false,
      "is_ship_by_seller": true,
      "is_eligible_for_jet_delivery": false,
      "plus_cash_back": null,
      "stats": null,
      "available_on_website": true,
      "provider": "both",
      "is_heavy": false,
      "is_electronic": false,
      "sbs_seller_cities": [1698],
      "price_list": {
        "id": 428768827,
        "discount_percent": null,
        "rrp_price": 290000000,
        "selling_price": 290000000,
        "is_incredible_offer": false,
        "is_plus_offer": false,
        "is_sponsored_offer": false,
        "is_locked_for_plus": false,
        "promotion_id": null,
        "timer": null,
        "pre_sell": false,
        "variant_id": 14789242,
        "orderLimit": 1,
        "initial_limit": null,
        "tags": null,
        "cache_key_created_at": "2021-04-24 10:40:00",
        "cache_update_source": "supernova-digikala-bellatrix",
        "discount_amount": 0,
        "discount": 0,
        "show_discount_badge": false,
        "marketable_stock": 1,
        "plus_variant_cash_back": 0
      },
      "addToCartUrl": "\/cart\/add\/14789242\/1\/",
      "addToYaldaCartUrl": "\/ajax\/cart\/move\/save-for-yalda\/14789242\/",
      "dcPoint": 150,
      "is_free_shipment": true,
      "providerData": {
        "description": "\u0645\u0648\u062c\u0648\u062f \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u0641\u0631\u0648\u0634\u0646\u062f\u0647",
        "providers": [{
          "title": "\u0627\u0631\u0633\u0627\u0644 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647",
          "description": "\u0627\u06cc\u0646 \u06a9\u0627\u0644\u0627 \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u0645\u0648\u062c\u0648\u062f \u0648 \u0622\u0645\u0627\u062f\u0647 \u067e\u0631\u062f\u0627\u0632\u0634 \u0627\u0633\u062a \u0648 \u0627\u0645\u06a9\u0627\u0646 \u0627\u0631\u0633\u0627\u0644 \u0645\u0633\u062a\u0642\u06cc\u0645 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u062f\u0627\u0631\u062f."
        }, {
          "title": "\u0627\u0631\u0633\u0627\u0644 \u062a\u0648\u0633\u0637 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631",
          "description": "\u0627\u06cc\u0646 \u06a9\u0627\u0644\u0627 \u067e\u0633 \u0627\u0632 \u0645\u062f\u062a \u0632\u0645\u0627\u0646 \u0645\u0634\u062e\u0635 \u0634\u062f\u0647 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062a\u0627\u0645\u06cc\u0646 \u0648 \u0622\u0645\u0627\u062f\u0647 \u067e\u0631\u062f\u0627\u0632\u0634 \u0645\u06cc\u200c\u06af\u0631\u062f\u062f \u0648 \u062a\u0648\u0633\u0637 \u067e\u06cc\u06a9 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062f\u0631 \u0628\u0627\u0632\u0647 \u0627\u0646\u062a\u062e\u0627\u0628\u06cc \u0627\u0631\u0633\u0627\u0644 \u062e\u0648\u0627\u0647\u062f \u0634\u062f."
        }],
        "hasLeadTime": false,
        "badge_type": "without_lead_time"
      },
      "newProviderData": [{
        "type": "digikala",
        "has_lead_time": true,
        "text": "\u0627\u0631\u0633\u0627\u0644 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631"
      }, {
        "type": "seller",
        "has_lead_time": false,
        "text": "\u0627\u0631\u0633\u0627\u0644 \u0641\u0631\u0648\u0634\u0646\u062f\u0647"
      }],
      "isExistsInWarehouse": true
    },
    "15873845": {
      "id": 15873845,
      "active": true,
      "active_digistyle": true,
      "ovl_selling_active": true,
      "title": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0633\u0627\u0645\u0633\u0648\u0646\u06af \u0645\u062f\u0644 Galaxy S21 Ultra 5G SM-G998B\/DS \u062f\u0648 \u0633\u06cc\u0645 \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 256 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a \u0648 \u0631\u0645 12 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a | \u0646\u0642\u0631\u0647 \u0627\u06cc | \u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0622\u0631\u06a9\u0627 \u062a\u062c\u0627\u0631\u062a \u0628\u06cc\u0633\u062a\u0648\u0646",
      "color": {
        "id": 12,
        "title": "\u0646\u0642\u0631\u0647 \u0627\u06cc",
        "code": "#dedede",
        "hexCode": "#dedede",
        "hex_code": "#dedede"
      },
      "size": [],
      "site": "digikala",
      "warranty": {
        "id": 6180,
        "title": "\u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0622\u0631\u06a9\u0627 \u062a\u062c\u0627\u0631\u062a \u0628\u06cc\u0633\u062a\u0648\u0646",
        "description": null,
        "phone": null,
        "address": null,
        "working_hours": null,
        "condition": null
      },
      "marketplace_seller": {
        "id": 246540,
        "name": "\u062a\u062c\u0627\u0631\u062a \u0637\u0644\u0627\u06cc\u06cc",
        "rate": 79,
        "rateCount": 1506,
        "rating": {
          "cancel_percentage": 100,
          "cancel_summarize": "excellent",
          "return_percentage": 100,
          "return_summarize": "excellent",
          "ship_on_time_percentage": 100,
          "ship_on_time_summarize": "excellent",
          "final_score": 5,
          "final_percentage": 100
        },
        "stars": 5,
        "is_trusted": true,
        "is_official_seller": false,
        "is_roosta": false,
        "url": "\/seller\/avnyy\/",
        "registerTimeAgo": "1 \u0633\u0627\u0644, 5 \u0645\u0627\u0647"
      },
      "leadTime": 1,
      "shipping_type": "digikala",
      "gifts": [],
      "gift_product_ids": [],
      "seller_lead_time": 0,
      "market_place_selling_stock": 1,
      "is_fresh": false,
      "scheduled_stock": false,
      "promotion_price_id": null,
      "is_digikala_owner": false,
      "rank": 88.87,
      "sr": null,
      "has_similar_variants": true,
      "fast_shopping_badge": false,
      "fast_shopping_confirm": false,
      "is_multi_warehouse": false,
      "is_ship_by_seller": false,
      "is_eligible_for_jet_delivery": false,
      "plus_cash_back": null,
      "stats": null,
      "available_on_website": true,
      "provider": "digikala",
      "is_heavy": false,
      "is_electronic": false,
      "sbs_seller_cities": [],
      "price_list": {
        "id": 423700354,
        "discount_percent": null,
        "rrp_price": 289900000,
        "selling_price": 289900000,
        "is_incredible_offer": false,
        "is_plus_offer": false,
        "is_sponsored_offer": false,
        "is_locked_for_plus": false,
        "promotion_id": null,
        "timer": null,
        "pre_sell": false,
        "variant_id": 15873845,
        "orderLimit": 1,
        "initial_limit": null,
        "tags": null,
        "cache_key_created_at": "2021-04-19 20:21:48",
        "cache_update_source": "supernova-digikala-mobile",
        "discount_amount": 0,
        "discount": 0,
        "show_discount_badge": false,
        "marketable_stock": 1,
        "plus_variant_cash_back": 0
      },
      "addToCartUrl": "\/cart\/add\/15873845\/1\/",
      "addToYaldaCartUrl": "\/ajax\/cart\/move\/save-for-yalda\/15873845\/",
      "dcPoint": 150,
      "is_free_shipment": true,
      "providerData": {
        "description": "\u0645\u0648\u062c\u0648\u062f \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u0641\u0631\u0648\u0634\u0646\u062f\u0647",
        "providers": [{
          "title": "\u0627\u0631\u0633\u0627\u0644 \u062a\u0648\u0633\u0637 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631",
          "description": "\u0627\u06cc\u0646 \u06a9\u0627\u0644\u0627 \u067e\u0633 \u0627\u0632 \u0645\u062f\u062a \u0632\u0645\u0627\u0646 \u0645\u0634\u062e\u0635 \u0634\u062f\u0647 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062a\u0627\u0645\u06cc\u0646 \u0648 \u0622\u0645\u0627\u062f\u0647 \u067e\u0631\u062f\u0627\u0632\u0634 \u0645\u06cc\u200c\u06af\u0631\u062f\u062f \u0648 \u062a\u0648\u0633\u0637 \u067e\u06cc\u06a9 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062f\u0631 \u0628\u0627\u0632\u0647 \u0627\u0646\u062a\u062e\u0627\u0628\u06cc \u0627\u0631\u0633\u0627\u0644 \u062e\u0648\u0627\u0647\u062f \u0634\u062f."
        }],
        "hasLeadTime": true,
        "badge_type": "with_lead_time"
      },
      "newProviderData": [{
        "type": "digikala",
        "has_lead_time": true,
        "text": "\u0627\u0631\u0633\u0627\u0644 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631"
      }],
      "isExistsInWarehouse": false
    },
    "14543024": {
      "id": 14543024,
      "active": true,
      "active_digistyle": true,
      "ovl_selling_active": true,
      "title": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0633\u0627\u0645\u0633\u0648\u0646\u06af \u0645\u062f\u0644 Galaxy S21 Ultra 5G SM-G998B\/DS \u062f\u0648 \u0633\u06cc\u0645 \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 256 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a \u0648 \u0631\u0645 12 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a | \u0645\u0634\u06a9\u06cc | \u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0622\u0631\u06a9\u0627 \u062a\u062c\u0627\u0631\u062a \u0628\u06cc\u0633\u062a\u0648\u0646",
      "color": {
        "id": 1,
        "title": "\u0645\u0634\u06a9\u06cc",
        "code": "#212121",
        "hexCode": "#212121",
        "hex_code": "#212121"
      },
      "size": [],
      "site": "digikala",
      "warranty": {
        "id": 6180,
        "title": "\u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0622\u0631\u06a9\u0627 \u062a\u062c\u0627\u0631\u062a \u0628\u06cc\u0633\u062a\u0648\u0646",
        "description": null,
        "phone": null,
        "address": null,
        "working_hours": null,
        "condition": null
      },
      "marketplace_seller": {
        "id": 277109,
        "name": "\u0645\u0648\u0628\u0627\u06cc\u0644 \u0631\u0648\u0634\u0646",
        "rate": 84,
        "rateCount": 68,
        "rating": {
          "cancel_percentage": 100,
          "cancel_summarize": "excellent",
          "return_percentage": 100,
          "return_summarize": "excellent",
          "ship_on_time_percentage": 100,
          "ship_on_time_summarize": "excellent",
          "final_score": 5,
          "final_percentage": 100
        },
        "stars": 5,
        "is_trusted": true,
        "is_official_seller": false,
        "is_roosta": false,
        "url": "\/seller\/azdaf\/",
        "registerTimeAgo": "1 \u0633\u0627\u0644, 3 \u0645\u0627\u0647"
      },
      "leadTime": 1,
      "shipping_type": "digikala",
      "gifts": [],
      "gift_product_ids": [],
      "seller_lead_time": 0,
      "market_place_selling_stock": 1,
      "is_fresh": false,
      "scheduled_stock": false,
      "promotion_price_id": null,
      "is_digikala_owner": false,
      "rank": 86.24,
      "sr": null,
      "has_similar_variants": false,
      "fast_shopping_badge": false,
      "fast_shopping_confirm": false,
      "is_multi_warehouse": false,
      "is_ship_by_seller": false,
      "is_eligible_for_jet_delivery": false,
      "plus_cash_back": null,
      "stats": null,
      "available_on_website": true,
      "provider": "digikala",
      "is_heavy": false,
      "is_electronic": false,
      "sbs_seller_cities": [],
      "price_list": {
        "id": 425489126,
        "discount_percent": null,
        "rrp_price": 299000000,
        "selling_price": 299000000,
        "is_incredible_offer": false,
        "is_plus_offer": false,
        "is_sponsored_offer": false,
        "is_locked_for_plus": false,
        "promotion_id": null,
        "timer": null,
        "pre_sell": false,
        "variant_id": 14543024,
        "orderLimit": 1,
        "initial_limit": null,
        "tags": null,
        "cache_key_created_at": "2021-04-22 21:17:34",
        "cache_update_source": "supernova-digikala-api",
        "discount_amount": 0,
        "discount": 0,
        "show_discount_badge": false,
        "marketable_stock": 1,
        "plus_variant_cash_back": 0
      },
      "addToCartUrl": "\/cart\/add\/14543024\/1\/",
      "addToYaldaCartUrl": "\/ajax\/cart\/move\/save-for-yalda\/14543024\/",
      "dcPoint": 150,
      "is_free_shipment": true,
      "providerData": {
        "description": "\u0645\u0648\u062c\u0648\u062f \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u0641\u0631\u0648\u0634\u0646\u062f\u0647",
        "providers": [{
          "title": "\u0627\u0631\u0633\u0627\u0644 \u062a\u0648\u0633\u0637 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631",
          "description": "\u0627\u06cc\u0646 \u06a9\u0627\u0644\u0627 \u067e\u0633 \u0627\u0632 \u0645\u062f\u062a \u0632\u0645\u0627\u0646 \u0645\u0634\u062e\u0635 \u0634\u062f\u0647 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062a\u0627\u0645\u06cc\u0646 \u0648 \u0622\u0645\u0627\u062f\u0647 \u067e\u0631\u062f\u0627\u0632\u0634 \u0645\u06cc\u200c\u06af\u0631\u062f\u062f \u0648 \u062a\u0648\u0633\u0637 \u067e\u06cc\u06a9 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062f\u0631 \u0628\u0627\u0632\u0647 \u0627\u0646\u062a\u062e\u0627\u0628\u06cc \u0627\u0631\u0633\u0627\u0644 \u062e\u0648\u0627\u0647\u062f \u0634\u062f."
        }],
        "hasLeadTime": true,
        "badge_type": "with_lead_time"
      },
      "newProviderData": [{
        "type": "digikala",
        "has_lead_time": true,
        "text": "\u0627\u0631\u0633\u0627\u0644 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631"
      }],
      "isExistsInWarehouse": false
    }
  };
  var defaultVariantId = 14040808;
  var maxVisibleVariant = 3;
  var maxVisibleSupplier = 3;
  var hasColorOrSize = true;
  var sellerStatistics = [];
  var hasQuickView = false;
  var cart = {
    "cartId": 153443888,
    "variants": [],
    "products": [],
    "itemCount": 0,
    "isPlusUser": false
  };
  var productId = 4330247;
  var videos = {
    "10755": {
      "src": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/44eafd1806748cf3a5243fbc8cff9dd28112c830_1611857283.mp4",
      "playlist": "https:\/\/dkstatics-public.digikala.com\/digikala-video-playlist\/ebb532a5ae71d0ca1ae223e53a1bca6459ca4579_1611857357.m3u8",
      "sources": [{
        "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video-playlist\/ebb532a5ae71d0ca1ae223e53a1bca6459ca4579_1611857357.m3u8"
      },
        [{
          "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/5ab113908b616ba764c911220760b4598dc41afa_1611857306.mp4"
        }],
        [{
          "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/c40dc70be1b9312d6c91ba8098c45f29243aba8d_1611857340.mp4"
        }],
        [{
          "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/bfbc5648b12b8843ff130f7ddb772d33dc18882f_1611857355.mp4"
        }]
      ],
      "cover_big": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/15ca3c0daca8d1f2c8168a11f5955370fe807a43_1611857295.jpg?x-oss-process=image\/resize,w_600\/quality,q_80",
      "cover_thumb_small": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/15ca3c0daca8d1f2c8168a11f5955370fe807a43_1611857295.jpg?x-oss-process=image\/resize,m_fill,h_64,w_64",
      "cover_thumb_big": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/15ca3c0daca8d1f2c8168a11f5955370fe807a43_1611857295.jpg?x-oss-process=image\/resize,m_fill,h_115,w_115",
      "title": "Ultra",
      "description": "",
      "duration": 80
    },
    "10451": {
      "src": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/cca714b0084ea18b3983b0786ea86f17ea38788b_1611734403.mP4",
      "playlist": "https:\/\/dkstatics-public.digikala.com\/digikala-video-playlist\/3e89dbcfba4863eeffa742feaee0159c0bd3de91_1611734946.m3u8",
      "sources": [{
        "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video-playlist\/3e89dbcfba4863eeffa742feaee0159c0bd3de91_1611734946.m3u8"
      },
        [{
          "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/e5f33bc3b590aa0f245b3753c05cbb85426a7c17_1611734901.mp4"
        }],
        [{
          "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/fa98d61a53ca62d7bbdd035a4cc1c53d1cdf2e98_1611734943.mp4"
        }]
      ],
      "cover_big": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/1d1b3b3943a614888af995acad659acb39f0e0aa_1611734749.jpg?x-oss-process=image\/resize,w_600\/quality,q_80",
      "cover_thumb_small": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/1d1b3b3943a614888af995acad659acb39f0e0aa_1611734749.jpg?x-oss-process=image\/resize,m_fill,h_64,w_64",
      "cover_thumb_big": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/1d1b3b3943a614888af995acad659acb39f0e0aa_1611734749.jpg?x-oss-process=image\/resize,m_fill,h_115,w_115",
      "title": "Galaxy S21 Ultra Review  Third Time\u2019S A Charm-Part1-",
      "description": "",
      "duration": 468
    },
    "10452": {
      "src": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/cd122ab500e13bb1549b8524521b614be3224bff_1611735723.mp4",
      "playlist": "https:\/\/dkstatics-public.digikala.com\/digikala-video-playlist\/bab67af1fb0f0a56545ff172f6fd9bca7d9eadd4_1611735947.m3u8",
      "sources": [{
        "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video-playlist\/bab67af1fb0f0a56545ff172f6fd9bca7d9eadd4_1611735947.m3u8"
      },
        [{
          "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/b941a5d9f46d8f8233c8d25c9979948cb8f7a5c9_1611735899.mp4"
        }],
        [{
          "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/0b0e804755f530dfca551ec3031a2bbc98bcb5e4_1611735937.mp4"
        }]
      ],
      "cover_big": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/c973833b5e3074eef0a019afe7b544aac156765c_1611735795.jpg?x-oss-process=image\/resize,w_600\/quality,q_80",
      "cover_thumb_small": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/c973833b5e3074eef0a019afe7b544aac156765c_1611735795.jpg?x-oss-process=image\/resize,m_fill,h_64,w_64",
      "cover_thumb_big": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/c973833b5e3074eef0a019afe7b544aac156765c_1611735795.jpg?x-oss-process=image\/resize,m_fill,h_115,w_115",
      "title": "Galaxy S21 Ultra Review -Third Time\u2019S A Charm-Part2",
      "description": "",
      "duration": 525
    },
    "10332": {
      "src": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/7269286ee1c323c1fb0f437ad54adc61459ecef1_1611088023.mp4",
      "playlist": "https:\/\/dkstatics-public.digikala.com\/digikala-video-playlist\/355697c0aa8a704cc4e9ce9914cbd75692b46325_1611088500.m3u8",
      "sources": [{
        "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video-playlist\/355697c0aa8a704cc4e9ce9914cbd75692b46325_1611088500.m3u8"
      },
        [{
          "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/cff6ee34473030523c193e3532e43ebd23140e6b_1611088304.mp4"
        }],
        [{
          "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/5dce685b093596780c3c389796a7bfdb50050dca_1611088416.mp4"
        }],
        [{
          "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/b7db86029339ed4bf447c146dad284ba759446a5_1611088498.mp4"
        }]
      ],
      "cover_big": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/f325ca464fb1bf71080d82d458e628cf9d231809_1611088265.jpg?x-oss-process=image\/resize,w_600\/quality,q_80",
      "cover_thumb_small": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/f325ca464fb1bf71080d82d458e628cf9d231809_1611088265.jpg?x-oss-process=image\/resize,m_fill,h_64,w_64",
      "cover_thumb_big": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/f325ca464fb1bf71080d82d458e628cf9d231809_1611088265.jpg?x-oss-process=image\/resize,m_fill,h_115,w_115",
      "title": "4243657-1",
      "description": "",
      "duration": 191
    },
    "10333": {
      "src": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/138f987f826fd8a76ab2014c8c9ce3c9e08ed2d8_1611088862.mp4",
      "playlist": "https:\/\/dkstatics-public.digikala.com\/digikala-video-playlist\/5536c43f4e5ff563f1150d5ec04480004dc85a3e_1611089005.m3u8",
      "sources": [{
        "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video-playlist\/5536c43f4e5ff563f1150d5ec04480004dc85a3e_1611089005.m3u8"
      },
        [{
          "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/9993c439a046905120c1dd03ad77546be297fd30_1611088960.mp4"
        }],
        [{
          "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/fe51eea20e5ec78481650d3179d8d6a2002694a5_1611088986.mp4"
        }],
        [{
          "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/dfd03d549e6f0efc9e683eda19936273206d90f0_1611089002.mp4"
        }]
      ],
      "cover_big": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/03b530cadf517c017dce86da95c83406c99c1c1c_1611088923.jpg?x-oss-process=image\/resize,w_600\/quality,q_80",
      "cover_thumb_small": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/03b530cadf517c017dce86da95c83406c99c1c1c_1611088923.jpg?x-oss-process=image\/resize,m_fill,h_64,w_64",
      "cover_thumb_big": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/03b530cadf517c017dce86da95c83406c99c1c1c_1611088923.jpg?x-oss-process=image\/resize,m_fill,h_115,w_115",
      "title": "4243657-2",
      "description": "",
      "duration": 65
    },
    "30548": {
      "src": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/47fa7c188b5a7e8396db7abf961b3ed5cb166a59_1617840064.mp4",
      "playlist": "https:\/\/dkstatics-public.digikala.com\/digikala-video-playlist\/c1ed7b033b3531ae48ea036b86b9a9096938cbeb_1617841296.m3u8",
      "sources": [{
        "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video-playlist\/c1ed7b033b3531ae48ea036b86b9a9096938cbeb_1617841296.m3u8"
      },
        [{
          "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/35be2a719c52a14bf9bcbdb1e6451ba3b359990d_1617841231.mp4"
        }],
        [{
          "file": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/aca28e870b1f34e68c161fdd29f85b69dfeb837f_1617841293.mp4"
        }]
      ],
      "cover_big": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/c460b47a83c857f0765796bc7a46c28ed757b8aa_1617841155.jpg?x-oss-process=image\/resize,w_600\/quality,q_80",
      "cover_thumb_small": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/c460b47a83c857f0765796bc7a46c28ed757b8aa_1617841155.jpg?x-oss-process=image\/resize,m_fill,h_64,w_64",
      "cover_thumb_big": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/c460b47a83c857f0765796bc7a46c28ed757b8aa_1617841155.jpg?x-oss-process=image\/resize,m_fill,h_115,w_115",
      "title": "4330247",
      "description": "",
      "duration": 1319
    }
  };
  var enhanced_ecommerce = {
    "id": 4330247,
    "name": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0633\u0627\u0645\u0633\u0648\u0646\u06af \u0645\u062f\u0644 Galaxy S21 Ultra 5G SM-G998B\/DS \u062f\u0648 \u0633\u06cc\u0645 \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 256 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a \u0648 \u0631\u0645 12 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a",
    "category": "MO",
    "category_id": 11,
    "brand": "samsung",
    "variant": 14040808,
    "price": 265990000,
    "discount_percent": 8,
    "quantity": 1
  };
  var categoryId = 11;
  var nowTimeInUTC = "2021-04-25 08:56:28";
  var emarsysCategoryBreadcrumb = [];
  var emarsysBrand = "\u0633\u0627\u0645\u0633\u0648\u0646\u06af";
  var ecpd2 = {
    "id": 4330247,
    "title": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0633\u0627\u0645\u0633\u0648\u0646\u06af \u0645\u062f\u0644 Galaxy S21 Ultra 5G SM-G998B\/DS \u062f\u0648 \u0633\u06cc\u0645 \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 256 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a \u0648 \u0631\u0645 12 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a",
    "has_gift": false,
    "is_exclusive": false,
    "is_incredible": true,
    "is_selling_and_sales": false,
    "multi_color": true,
    "multi_size": false,
    "multi_warranty": true,
    "multi_seller": true,
    "site_category": ["\u06a9\u0627\u0644\u0627\u06cc \u062f\u06cc\u062c\u06cc\u062a\u0627\u0644", "\u0645\u0648\u0628\u0627\u06cc\u0644", "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644"],
    "supply_category": ["MO", "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644"],
    "category": {
      "id": 11,
      "title": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644"
    },
    "brand": {
      "id": 18,
      "title": "\u0633\u0627\u0645\u0633\u0648\u0646\u06af"
    },
    "price": {
      "selling_price": 265990000,
      "discount_percent": 8
    },
    "status": "marketable",
    "variants": [{
      "id": 14040808,
      "seller": 1,
      "color": 12,
      "size": 0,
      "warranty": 4300
    }, {
      "id": 14502791,
      "seller": 348163,
      "color": 1,
      "size": 0,
      "warranty": 6610
    }, {
      "id": 14794016,
      "seller": 559018,
      "color": 12,
      "size": 0,
      "warranty": 4300
    }, {
      "id": 15558312,
      "seller": 277109,
      "color": 12,
      "size": 0,
      "warranty": 6119
    }, {
      "id": 15873838,
      "seller": 277109,
      "color": 12,
      "size": 0,
      "warranty": 6180
    }, {
      "id": 14789242,
      "seller": 440252,
      "color": 1,
      "size": 0,
      "warranty": 4300
    }, {
      "id": 15873845,
      "seller": 246540,
      "color": 12,
      "size": 0,
      "warranty": 6180
    }, {
      "id": 14543024,
      "seller": 277109,
      "color": 1,
      "size": 0,
      "warranty": 6180
    }],
    "image_url": "https:\/\/dkstatics-public.digikala.com\/digikala-products\/62c8a2c6d57dce6efbde8bbd348490c2f10a55e1_1611742799.jpg?x-oss-process=image\/resize,m_lfit,h_350,w_350\/quality,q_60",
    "product_url": "https:\/\/www.digikala.com\/product\/dkp-4330247"
  };
  var isbn = null;
  var min_price_in_last_month = 265990000;
  var isPDP = true;
  var faqPageTitle = "pdp_section";
  var isAnanasFriendly = true;
  var userId = 9735394;
  var adroRCActivation = true;
  var loginRegisterUrlWithBack = "\/users\/login-register\/?_back=https:\/\/www.digikala.com\/product\/dkp-4330247\/%25DA%25AF%25D9%2588%25D8%25B4%25DB%258C-%25D9%2585%25D9%2588%25D8%25A8%25D8%25A7%25DB%258C%25D9%2584-%25D8%25B3%25D8%25A7%25D9%2585%25D8%25B3%25D9%2588%25D9%2586%25DA%25AF-%25D9%2585%25D8%25AF%25D9%2584-galaxy-s21-ultra-5g-sm-g998bds-%25D8%25AF%25D9%2588-%25D8%25B3%25DB%258C%25D9%2585-%25DA%25A9%25D8%25A7%25D8%25B1%25D8%25AA-%25D8%25B8%25D8%25B1%25D9%2581%25DB%258C%25D8%25AA-256-%25DA%25AF%25DB%258C%25DA%25AF%25D8%25A7%25D8%25A8%25D8%25A7%25DB%258C%25D8%25AA-%25D9%2588-%25D8%25B1%25D9%2585-12-%25DA%25AF%25DB%258C%25DA%25AF%25D8%25A7%25D8%25A8%25D8%25A7%25DB%258C%25D8%25AA";
  var isNewCustomer = false;
  var digiclubLuckyDrawEndTime = "2021-06-23 15:30:28";
  var activateUrl = "\/digiclub\/activate\/";


</script>
