<ul class="c-checkout-address__item-content">
  <li class="c-checkout-address__item-address">
    تهران، صفادشت، خیابان خرقانی، خیابان جهاداول، پلاک ندارد، واحد اول
  </li>
  <li class="c-checkout-address__item-detail c-checkout-address__item-detail--postal-code">
    ۱۱۱۱۱۱۱۱۱۱
  </li>
  <li class="c-checkout-address__item-detail c-checkout-address__item-detail--phone">
    ۰۹۱۰۹۳۷۸۱۷۰
  </li>
  <li class="c-checkout-address__item-detail c-checkout-address__item-detail--username">
    اسماعیل جعفری
  </li>
</ul>
