<ul class="c-checkout-address__item-content">
  <li class="c-checkout-address__item-address">
    تهران، محله تیموری، بلوار جواد اکبری، اتکا
  </li>
  <li class="c-checkout-address__item-detail c-checkout-address__item-detail--postal-code">
    customer@diginova.test
  </li>

  <li class="c-checkout-address__item-detail c-checkout-address__item-detail--phone">
    ۰۹۰۵۹۵۸۱۵۳۳
  </li>
  <li class="c-checkout-address__item-detail c-checkout-address__item-detail--username">
    مهدی جلالی
  </li>
</ul>
