<link rel="stylesheet" href="{{ asset('assets/new/css/app.css') }} ">
<link rel="stylesheet" href="{{ asset('assets/new/css/max-height1184px.css') }} "
      media="screen and (max-height: 1184px)">
<link rel="stylesheet" href="{{ asset('assets/new/css/max-width1365px.css') }} "
      media="screen and (max-width: 1365px)">
<link rel="stylesheet" href="{{ asset('assets/new/css/min-width1025px.css') }} "
      media="screen and (min-width: 1025px)">
<link rel="stylesheet" href="{{ asset('assets/new/css/min-width1366px.css') }} "
      media="screen and (min-width: 1366px)">
<link rel="stylesheet" href="{{ asset('assets/new/css/min-width1680px.css') }} "
      media="screen and (min-width: 1680px)">



<script src="{{ asset('assets/test/js/2c59d18d.js') }}"></script>
<script src="{{ asset('assets/test/js/97311f4f.js') }}"></script>
<script src="{{ asset('assets/test/js/46f4b9f4.js') }}"></script>
<script src="{{ asset('assets/test/js/222f3f4a.js') }}"></script>
