<title></title>

<!-- Data Layer -->
<script>
  try {
    var dataLayer = [];
    window.dataLayerData = {
      "event": "eec.productDetail",
      "ecommerce": {
        "detail": {
          "actionField": {"list": "category-\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644"},
          "products": [{
            "name": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0627\u067e\u0644 \u0645\u062f\u0644 iPhone 12 Pro Max A2412 \u062f\u0648 \u0633\u06cc\u0645\u200c \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 512 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a",
            "id": 3555626,
            "price": 509900000,
            "brand": "\u0627\u067e\u0644",
            "dimension6": 1,
            "category": ["MO", "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644"],
            "dimension2": 0,
            "dimension9": 0,
            "metric6": 0,
            "metric7": 5,
            "metric8": 1,
            "dimension10": 1,
            "metric11": 87,
            "metric12": 0,
            "dimension11": 0,
            "dimension15": 0,
            "metric15": 0,
            "dimension3": "marketplace",
            "dimension20": "marketable",
            "dimension7": "none"
          }]
        }
      }
    };

    if (Object.prototype.toString.call(dataLayerData) === '[object Object]') {
      dataLayer.push(dataLayerData);
    } else {
      dataLayerData.forEach(function (eventItem) {
        dataLayer.push(eventItem);
      });
    }

    delete window.dataLayerData;
  } catch (e) {
    window.Sentry && window.Sentry.captureException(e);
    // eslint-disable-next-line no-console
    console.warn(e);
  }
</script>
<!-- End Data Layer-->





<link rel="stylesheet" href="{{ asset('assets/new/css/app.css') }} ">
<link rel="stylesheet" href="{{ asset('assets/new/css/max-height1184px.css') }} " media="screen and (max-height: 1184px)">
<link rel="stylesheet" href="{{ asset('assets/new/css/max-width1365px.css') }} " media="screen and (max-width: 1365px)">
<link rel="stylesheet" href="{{ asset('assets/new/css/min-width1025px.css') }} " media="screen and (min-width: 1025px)">
<link rel="stylesheet" href="{{ asset('assets/new/css/min-width1366px.css') }} " media="screen and (min-width: 1366px)">
<link rel="stylesheet" href="{{ asset('assets/new/css/min-width1680px.css') }} " media="screen and (min-width: 1680px)">


<script>
  var supernova_mode = "production";
  var supernova_tracker_url = "https:\/\/etrackerd.digikala.com\/tracker\/events\/";
  var variants = {
    "14209915": {
      "id": 14209915,
      "active": true,
      "active_digistyle": true,
      "ovl_selling_active": true,
      "title": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0627\u067e\u0644 \u0645\u062f\u0644 iPhone 12 Pro Max A2412 \u062f\u0648 \u0633\u06cc\u0645\u200c \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 512 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a | \u062e\u0627\u06a9\u0633\u062a\u0631\u06cc | \u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0647\u0645\u0631\u0627\u0647 \u06af\u0633\u062a\u0631 \u0646\u0642\u0631\u0647 \u0641\u0627\u0645",
      "color": {
        "id": 11,
        "title": "\u062e\u0627\u06a9\u0633\u062a\u0631\u06cc",
        "code": "#9E9E9E",
        "hexCode": "#9E9E9E",
        "hex_code": "#9E9E9E"
      },
      "size": [],
      "site": "digikala",
      "warranty": {
        "id": 4832,
        "title": "\u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0647\u0645\u0631\u0627\u0647 \u06af\u0633\u062a\u0631 \u0646\u0642\u0631\u0647 \u0641\u0627\u0645",
        "description": null,
        "phone": null,
        "address": null,
        "working_hours": null,
        "condition": null
      },
      "marketplace_seller": {
        "id": 4064,
        "name": "\u0634\u0627\u062f\u06cc \u0644\u0646\u062f",
        "rate": 81,
        "rateCount": 2468,
        "rating": {
          "cancel_percentage": 99.8,
          "cancel_summarize": "excellent",
          "return_percentage": 99.9,
          "return_summarize": "excellent",
          "ship_on_time_percentage": 100,
          "ship_on_time_summarize": "excellent",
          "final_score": 5,
          "final_percentage": 100
        },
        "stars": 5,
        "is_trusted": false,
        "is_official_seller": false,
        "is_roosta": false,
        "url": "\/seller\/5ac7s\/",
        "registerTimeAgo": "3 \u0633\u0627\u0644, 3 \u0645\u0627\u0647"
      },
      "leadTime": 1,
      "shipping_type": "seller",
      "gifts": [],
      "gift_product_ids": [],
      "seller_lead_time": 0,
      "market_place_selling_stock": 1,
      "is_fresh": false,
      "scheduled_stock": false,
      "promotion_price_id": null,
      "is_digikala_owner": false,
      "rank": 99.81,
      "sr": null,
      "has_similar_variants": true,
      "fast_shopping_badge": false,
      "fast_shopping_confirm": false,
      "is_multi_warehouse": false,
      "is_ship_by_seller": true,
      "is_eligible_for_jet_delivery": false,
      "plus_cash_back": null,
      "stats": null,
      "available_on_website": true,
      "provider": "seller",
      "is_heavy": false,
      "is_electronic": false,
      "sbs_seller_cities": [1698],
      "price_list": {
        "id": 423595095,
        "discount_percent": null,
        "rrp_price": 509900000,
        "selling_price": 509900000,
        "is_incredible_offer": false,
        "is_plus_offer": false,
        "is_sponsored_offer": false,
        "is_locked_for_plus": false,
        "promotion_id": null,
        "timer": null,
        "pre_sell": false,
        "variant_id": 14209915,
        "orderLimit": 1,
        "initial_limit": null,
        "tags": null,
        "cache_key_created_at": "2021-04-19 18:15:47",
        "cache_update_source": "supernova-digikala-bellatrix",
        "discount_amount": 0,
        "discount": 0,
        "show_discount_badge": false,
        "marketable_stock": 1,
        "plus_variant_cash_back": 0
      },
      "addToCartUrl": "\/cart\/add\/14209915\/1\/",
      "addToYaldaCartUrl": "\/ajax\/cart\/move\/save-for-yalda\/14209915\/",
      "dcPoint": 150,
      "is_free_shipment": true,
      "providerData": {
        "description": "\u0645\u0648\u062c\u0648\u062f \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u0641\u0631\u0648\u0634\u0646\u062f\u0647",
        "providers": [{
          "title": "\u0627\u0631\u0633\u0627\u0644 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647",
          "description": "\u0627\u06cc\u0646 \u06a9\u0627\u0644\u0627 \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u0645\u0648\u062c\u0648\u062f \u0648 \u0622\u0645\u0627\u062f\u0647 \u067e\u0631\u062f\u0627\u0632\u0634 \u0627\u0633\u062a \u0648 \u0627\u0645\u06a9\u0627\u0646 \u0627\u0631\u0633\u0627\u0644 \u0645\u0633\u062a\u0642\u06cc\u0645 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u062f\u0627\u0631\u062f."
        }],
        "hasLeadTime": false,
        "badge_type": "without_lead_time"
      },
      "newProviderData": [{
        "type": "seller",
        "has_lead_time": false,
        "text": "\u0627\u0631\u0633\u0627\u0644 \u0641\u0631\u0648\u0634\u0646\u062f\u0647"
      }],
      "isExistsInWarehouse": true
    }, "14976390": {
      "id": 14976390,
      "active": true,
      "active_digistyle": true,
      "ovl_selling_active": true,
      "title": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0627\u067e\u0644 \u0645\u062f\u0644 iPhone 12 Pro Max A2412 \u062f\u0648 \u0633\u06cc\u0645\u200c \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 512 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a | \u0637\u0644\u0627\u06cc\u06cc | \u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0647\u0645\u0631\u0627\u0647 \u06af\u0633\u062a\u0631 \u0646\u0642\u0631\u0647 \u0641\u0627\u0645",
      "color": {
        "id": 15,
        "title": "\u0637\u0644\u0627\u06cc\u06cc",
        "code": "#c99212",
        "hexCode": "#c99212",
        "hex_code": "#c99212"
      },
      "size": [],
      "site": "digikala",
      "warranty": {
        "id": 4832,
        "title": "\u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0647\u0645\u0631\u0627\u0647 \u06af\u0633\u062a\u0631 \u0646\u0642\u0631\u0647 \u0641\u0627\u0645",
        "description": null,
        "phone": null,
        "address": null,
        "working_hours": null,
        "condition": null
      },
      "marketplace_seller": {
        "id": 106110,
        "name": "\u0627\u06a9\u0633\u0648\u0646 \u0627\u0633\u062a\u0648\u0631",
        "rate": 86,
        "rateCount": 267,
        "rating": {
          "cancel_percentage": 97.6,
          "cancel_summarize": "very_bad",
          "return_percentage": 100,
          "return_summarize": "excellent",
          "ship_on_time_percentage": 100,
          "ship_on_time_summarize": "excellent",
          "final_score": 3.5,
          "final_percentage": 70
        },
        "stars": 3.5,
        "is_trusted": false,
        "is_official_seller": false,
        "is_roosta": false,
        "url": "\/seller\/a7n5a\/",
        "registerTimeAgo": "2 \u0633\u0627\u0644, 3 \u0645\u0627\u0647"
      },
      "leadTime": 1,
      "shipping_type": "digikala",
      "gifts": [],
      "gift_product_ids": [],
      "seller_lead_time": 0,
      "market_place_selling_stock": 1,
      "is_fresh": false,
      "scheduled_stock": false,
      "promotion_price_id": null,
      "is_digikala_owner": false,
      "rank": 96.86,
      "sr": null,
      "has_similar_variants": false,
      "fast_shopping_badge": false,
      "fast_shopping_confirm": false,
      "is_multi_warehouse": false,
      "is_ship_by_seller": false,
      "is_eligible_for_jet_delivery": false,
      "plus_cash_back": null,
      "stats": null,
      "available_on_website": true,
      "provider": "digikala",
      "is_heavy": false,
      "is_electronic": false,
      "sbs_seller_cities": [],
      "price_list": {
        "id": 423048872,
        "discount_percent": null,
        "rrp_price": 515000000,
        "selling_price": 515000000,
        "is_incredible_offer": false,
        "is_plus_offer": false,
        "is_sponsored_offer": false,
        "is_locked_for_plus": false,
        "promotion_id": null,
        "timer": null,
        "pre_sell": false,
        "variant_id": 14976390,
        "orderLimit": 1,
        "initial_limit": null,
        "tags": null,
        "cache_key_created_at": "2021-04-19 10:40:06",
        "cache_update_source": "supernova-digikala-bellatrix",
        "discount_amount": 0,
        "discount": 0,
        "show_discount_badge": false,
        "marketable_stock": 1,
        "plus_variant_cash_back": 0
      },
      "addToCartUrl": "\/cart\/add\/14976390\/1\/",
      "addToYaldaCartUrl": "\/ajax\/cart\/move\/save-for-yalda\/14976390\/",
      "dcPoint": 150,
      "is_free_shipment": true,
      "providerData": {
        "description": "\u0645\u0648\u062c\u0648\u062f \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u0641\u0631\u0648\u0634\u0646\u062f\u0647",
        "providers": [{
          "title": "\u0627\u0631\u0633\u0627\u0644 \u062a\u0648\u0633\u0637 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631",
          "description": "\u0627\u06cc\u0646 \u06a9\u0627\u0644\u0627 \u067e\u0633 \u0627\u0632 \u0645\u062f\u062a \u0632\u0645\u0627\u0646 \u0645\u0634\u062e\u0635 \u0634\u062f\u0647 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062a\u0627\u0645\u06cc\u0646 \u0648 \u0622\u0645\u0627\u062f\u0647 \u067e\u0631\u062f\u0627\u0632\u0634 \u0645\u06cc\u200c\u06af\u0631\u062f\u062f \u0648 \u062a\u0648\u0633\u0637 \u067e\u06cc\u06a9 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062f\u0631 \u0628\u0627\u0632\u0647 \u0627\u0646\u062a\u062e\u0627\u0628\u06cc \u0627\u0631\u0633\u0627\u0644 \u062e\u0648\u0627\u0647\u062f \u0634\u062f."
        }],
        "hasLeadTime": true,
        "badge_type": "with_lead_time"
      },
      "newProviderData": [{
        "type": "digikala",
        "has_lead_time": true,
        "text": "\u0627\u0631\u0633\u0627\u0644 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631"
      }],
      "isExistsInWarehouse": false
    }, "15859017": {
      "id": 15859017,
      "active": true,
      "active_digistyle": true,
      "ovl_selling_active": true,
      "title": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0627\u067e\u0644 \u0645\u062f\u0644 iPhone 12 Pro Max A2412 \u062f\u0648 \u0633\u06cc\u0645\u200c \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 512 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a | \u062e\u0627\u06a9\u0633\u062a\u0631\u06cc | \u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0647\u0645\u0631\u0627\u0647 \u06af\u0633\u062a\u0631 \u0646\u0642\u0631\u0647 \u0641\u0627\u0645",
      "color": {
        "id": 11,
        "title": "\u062e\u0627\u06a9\u0633\u062a\u0631\u06cc",
        "code": "#9E9E9E",
        "hexCode": "#9E9E9E",
        "hex_code": "#9E9E9E"
      },
      "size": [],
      "site": "digikala",
      "warranty": {
        "id": 4832,
        "title": "\u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0647\u0645\u0631\u0627\u0647 \u06af\u0633\u062a\u0631 \u0646\u0642\u0631\u0647 \u0641\u0627\u0645",
        "description": null,
        "phone": null,
        "address": null,
        "working_hours": null,
        "condition": null
      },
      "marketplace_seller": {
        "id": 517122,
        "name": "\u0647\u0645\u0631\u0627\u0647 \u0645\u0627\u06a9\u0627\u0646",
        "rate": 82,
        "rateCount": 65,
        "rating": {
          "cancel_percentage": 98.9,
          "cancel_summarize": "very_bad",
          "return_percentage": 100,
          "return_summarize": "excellent",
          "ship_on_time_percentage": 100,
          "ship_on_time_summarize": "excellent",
          "final_score": 3.5,
          "final_percentage": 70
        },
        "stars": 3.5,
        "is_trusted": false,
        "is_official_seller": false,
        "is_roosta": false,
        "url": "\/seller\/cwe4n\/",
        "registerTimeAgo": "4 \u0645\u0627\u0647, 3 \u0647\u0641\u062a\u0647"
      },
      "leadTime": 1,
      "shipping_type": "both",
      "gifts": [],
      "gift_product_ids": [],
      "seller_lead_time": 0,
      "market_place_selling_stock": 2,
      "is_fresh": false,
      "scheduled_stock": false,
      "is_digikala_owner": false,
      "rank": 96.27,
      "sr": null,
      "has_similar_variants": false,
      "fast_shopping_badge": false,
      "fast_shopping_confirm": false,
      "is_multi_warehouse": false,
      "is_ship_by_seller": true,
      "is_eligible_for_jet_delivery": false,
      "plus_cash_back": null,
      "stats": null,
      "available_on_website": true,
      "provider": "both",
      "is_heavy": false,
      "is_electronic": false,
      "sbs_seller_cities": [1698, 2464, 2438, 2445, 1623, 1855, 1516, 2275, 1476, 1386, 1437, 2176, 2589, 2196, 1983],
      "price_list": {
        "id": 423384419,
        "discount": 3,
        "discount_amount": 0,
        "rrp_price": 534000000,
        "selling_price": 517980000,
        "is_incredible_offer": false,
        "is_locked_for_plus": false,
        "timer": 0,
        "variant_id": 15859017,
        "promotion": {
          "is_incredible_offer": false,
          "is_selling_and_sales": true,
          "has_promotion_badge": true,
          "is_plus_promotion": false,
          "is_early_access": false,
          "is_app_incredible": false,
          "is_themeable": false,
          "title": "\u0641\u0631\u0648\u0634 \u0648\u06cc\u0698\u0647",
          "color": null,
          "image": null
        },
        "variant_gold_price_details": null,
        "marketable_stock": 1,
        "orderLimit": 1,
        "plus_variant_cash_back": 0
      },
      "addToCartUrl": "\/cart\/add\/15859017\/1\/",
      "addToYaldaCartUrl": "\/ajax\/cart\/move\/save-for-yalda\/15859017\/",
      "dcPoint": 150,
      "is_free_shipment": true,
      "providerData": {
        "description": "\u0645\u0648\u062c\u0648\u062f \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u0641\u0631\u0648\u0634\u0646\u062f\u0647",
        "providers": [{
          "title": "\u0627\u0631\u0633\u0627\u0644 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647",
          "description": "\u0627\u06cc\u0646 \u06a9\u0627\u0644\u0627 \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u0645\u0648\u062c\u0648\u062f \u0648 \u0622\u0645\u0627\u062f\u0647 \u067e\u0631\u062f\u0627\u0632\u0634 \u0627\u0633\u062a \u0648 \u0627\u0645\u06a9\u0627\u0646 \u0627\u0631\u0633\u0627\u0644 \u0645\u0633\u062a\u0642\u06cc\u0645 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u062f\u0627\u0631\u062f."
        }, {
          "title": "\u0627\u0631\u0633\u0627\u0644 \u062a\u0648\u0633\u0637 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631",
          "description": "\u0627\u06cc\u0646 \u06a9\u0627\u0644\u0627 \u067e\u0633 \u0627\u0632 \u0645\u062f\u062a \u0632\u0645\u0627\u0646 \u0645\u0634\u062e\u0635 \u0634\u062f\u0647 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062a\u0627\u0645\u06cc\u0646 \u0648 \u0622\u0645\u0627\u062f\u0647 \u067e\u0631\u062f\u0627\u0632\u0634 \u0645\u06cc\u200c\u06af\u0631\u062f\u062f \u0648 \u062a\u0648\u0633\u0637 \u067e\u06cc\u06a9 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062f\u0631 \u0628\u0627\u0632\u0647 \u0627\u0646\u062a\u062e\u0627\u0628\u06cc \u0627\u0631\u0633\u0627\u0644 \u062e\u0648\u0627\u0647\u062f \u0634\u062f."
        }],
        "hasLeadTime": false,
        "badge_type": "without_lead_time"
      },
      "newProviderData": [{
        "type": "digikala",
        "has_lead_time": true,
        "text": "\u0627\u0631\u0633\u0627\u0644 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631"
      }, {
        "type": "seller",
        "has_lead_time": false,
        "text": "\u0627\u0631\u0633\u0627\u0644 \u0641\u0631\u0648\u0634\u0646\u062f\u0647"
      }],
      "isExistsInWarehouse": true
    }, "15488759": {
      "id": 15488759,
      "active": true,
      "active_digistyle": true,
      "ovl_selling_active": true,
      "title": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0627\u067e\u0644 \u0645\u062f\u0644 iPhone 12 Pro Max A2412 \u062f\u0648 \u0633\u06cc\u0645\u200c \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 512 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a | \u0645\u0634\u06a9\u06cc | \u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0647\u0645\u0631\u0627\u0647 \u06af\u0633\u062a\u0631 \u0646\u0642\u0631\u0647 \u0641\u0627\u0645",
      "color": {
        "id": 1,
        "title": "\u0645\u0634\u06a9\u06cc",
        "code": "#212121",
        "hexCode": "#212121",
        "hex_code": "#212121"
      },
      "size": [],
      "site": "digikala",
      "warranty": {
        "id": 4832,
        "title": "\u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0647\u0645\u0631\u0627\u0647 \u06af\u0633\u062a\u0631 \u0646\u0642\u0631\u0647 \u0641\u0627\u0645",
        "description": null,
        "phone": null,
        "address": null,
        "working_hours": null,
        "condition": null
      },
      "marketplace_seller": {
        "id": 517122,
        "name": "\u0647\u0645\u0631\u0627\u0647 \u0645\u0627\u06a9\u0627\u0646",
        "rate": 82,
        "rateCount": 65,
        "rating": {
          "cancel_percentage": 98.9,
          "cancel_summarize": "very_bad",
          "return_percentage": 100,
          "return_summarize": "excellent",
          "ship_on_time_percentage": 100,
          "ship_on_time_summarize": "excellent",
          "final_score": 3.5,
          "final_percentage": 70
        },
        "stars": 3.5,
        "is_trusted": false,
        "is_official_seller": false,
        "is_roosta": false,
        "url": "\/seller\/cwe4n\/",
        "registerTimeAgo": "4 \u0645\u0627\u0647, 3 \u0647\u0641\u062a\u0647"
      },
      "leadTime": 1,
      "shipping_type": "both",
      "gifts": [],
      "gift_product_ids": [],
      "seller_lead_time": 0,
      "market_place_selling_stock": 2,
      "is_fresh": false,
      "scheduled_stock": false,
      "promotion_price_id": null,
      "is_digikala_owner": false,
      "rank": 96.1,
      "sr": null,
      "has_similar_variants": false,
      "fast_shopping_badge": false,
      "fast_shopping_confirm": false,
      "is_multi_warehouse": false,
      "is_ship_by_seller": true,
      "is_eligible_for_jet_delivery": false,
      "plus_cash_back": null,
      "stats": null,
      "available_on_website": true,
      "provider": "both",
      "is_heavy": false,
      "is_electronic": false,
      "sbs_seller_cities": [1698, 2464, 2438, 2445, 1623, 1855, 1516, 2275, 1476, 1386, 1437, 2176, 2589, 2196, 1983],
      "price_list": {
        "id": 423378191,
        "discount_percent": null,
        "rrp_price": 518900000,
        "selling_price": 518900000,
        "is_incredible_offer": false,
        "is_plus_offer": false,
        "is_sponsored_offer": false,
        "is_locked_for_plus": false,
        "promotion_id": null,
        "timer": null,
        "pre_sell": false,
        "variant_id": 15488759,
        "orderLimit": 1,
        "initial_limit": null,
        "tags": null,
        "cache_key_created_at": "2021-04-19 14:07:40",
        "cache_update_source": "supernova-digikala-bellatrix",
        "discount_amount": 0,
        "discount": 0,
        "show_discount_badge": false,
        "marketable_stock": 2,
        "plus_variant_cash_back": 0
      },
      "addToCartUrl": "\/cart\/add\/15488759\/1\/",
      "addToYaldaCartUrl": "\/ajax\/cart\/move\/save-for-yalda\/15488759\/",
      "dcPoint": 150,
      "is_free_shipment": true,
      "providerData": {
        "description": "\u0645\u0648\u062c\u0648\u062f \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u0641\u0631\u0648\u0634\u0646\u062f\u0647",
        "providers": [{
          "title": "\u0627\u0631\u0633\u0627\u0644 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647",
          "description": "\u0627\u06cc\u0646 \u06a9\u0627\u0644\u0627 \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u0645\u0648\u062c\u0648\u062f \u0648 \u0622\u0645\u0627\u062f\u0647 \u067e\u0631\u062f\u0627\u0632\u0634 \u0627\u0633\u062a \u0648 \u0627\u0645\u06a9\u0627\u0646 \u0627\u0631\u0633\u0627\u0644 \u0645\u0633\u062a\u0642\u06cc\u0645 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u062f\u0627\u0631\u062f."
        }, {
          "title": "\u0627\u0631\u0633\u0627\u0644 \u062a\u0648\u0633\u0637 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631",
          "description": "\u0627\u06cc\u0646 \u06a9\u0627\u0644\u0627 \u067e\u0633 \u0627\u0632 \u0645\u062f\u062a \u0632\u0645\u0627\u0646 \u0645\u0634\u062e\u0635 \u0634\u062f\u0647 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062a\u0627\u0645\u06cc\u0646 \u0648 \u0622\u0645\u0627\u062f\u0647 \u067e\u0631\u062f\u0627\u0632\u0634 \u0645\u06cc\u200c\u06af\u0631\u062f\u062f \u0648 \u062a\u0648\u0633\u0637 \u067e\u06cc\u06a9 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062f\u0631 \u0628\u0627\u0632\u0647 \u0627\u0646\u062a\u062e\u0627\u0628\u06cc \u0627\u0631\u0633\u0627\u0644 \u062e\u0648\u0627\u0647\u062f \u0634\u062f."
        }],
        "hasLeadTime": false,
        "badge_type": "without_lead_time"
      },
      "newProviderData": [{
        "type": "digikala",
        "has_lead_time": true,
        "text": "\u0627\u0631\u0633\u0627\u0644 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631"
      }, {
        "type": "seller",
        "has_lead_time": false,
        "text": "\u0627\u0631\u0633\u0627\u0644 \u0641\u0631\u0648\u0634\u0646\u062f\u0647"
      }],
      "isExistsInWarehouse": true
    }, "14209917": {
      "id": 14209917,
      "active": true,
      "active_digistyle": true,
      "ovl_selling_active": true,
      "title": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0627\u067e\u0644 \u0645\u062f\u0644 iPhone 12 Pro Max A2412 \u062f\u0648 \u0633\u06cc\u0645\u200c \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 512 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a | \u0637\u0644\u0627\u06cc\u06cc | \u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0647\u0645\u0631\u0627\u0647 \u06af\u0633\u062a\u0631 \u0646\u0642\u0631\u0647 \u0641\u0627\u0645",
      "color": {
        "id": 15,
        "title": "\u0637\u0644\u0627\u06cc\u06cc",
        "code": "#c99212",
        "hexCode": "#c99212",
        "hex_code": "#c99212"
      },
      "size": [],
      "site": "digikala",
      "warranty": {
        "id": 4832,
        "title": "\u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0647\u0645\u0631\u0627\u0647 \u06af\u0633\u062a\u0631 \u0646\u0642\u0631\u0647 \u0641\u0627\u0645",
        "description": null,
        "phone": null,
        "address": null,
        "working_hours": null,
        "condition": null
      },
      "marketplace_seller": {
        "id": 4064,
        "name": "\u0634\u0627\u062f\u06cc \u0644\u0646\u062f",
        "rate": 81,
        "rateCount": 2468,
        "rating": {
          "cancel_percentage": 99.8,
          "cancel_summarize": "excellent",
          "return_percentage": 99.9,
          "return_summarize": "excellent",
          "ship_on_time_percentage": 100,
          "ship_on_time_summarize": "excellent",
          "final_score": 5,
          "final_percentage": 100
        },
        "stars": 5,
        "is_trusted": false,
        "is_official_seller": false,
        "is_roosta": false,
        "url": "\/seller\/5ac7s\/",
        "registerTimeAgo": "3 \u0633\u0627\u0644, 3 \u0645\u0627\u0647"
      },
      "leadTime": 1,
      "shipping_type": "both",
      "gifts": [],
      "gift_product_ids": [],
      "seller_lead_time": 1,
      "market_place_selling_stock": 1,
      "is_fresh": false,
      "scheduled_stock": false,
      "promotion_price_id": null,
      "is_digikala_owner": false,
      "rank": 96.07,
      "sr": null,
      "has_similar_variants": true,
      "fast_shopping_badge": false,
      "fast_shopping_confirm": false,
      "is_multi_warehouse": false,
      "is_ship_by_seller": true,
      "is_eligible_for_jet_delivery": false,
      "plus_cash_back": null,
      "stats": null,
      "available_on_website": true,
      "provider": "both",
      "is_heavy": false,
      "is_electronic": false,
      "sbs_seller_cities": [1698],
      "price_list": {
        "id": 422138854,
        "discount_percent": null,
        "rrp_price": 519000000,
        "selling_price": 519000000,
        "is_incredible_offer": false,
        "is_plus_offer": false,
        "is_sponsored_offer": false,
        "is_locked_for_plus": false,
        "promotion_id": null,
        "timer": null,
        "pre_sell": false,
        "variant_id": 14209917,
        "orderLimit": 1,
        "initial_limit": null,
        "tags": null,
        "cache_key_created_at": "2021-04-18 14:54:43",
        "cache_update_source": "supernova-digikala-mobile",
        "discount_amount": 0,
        "discount": 0,
        "show_discount_badge": false,
        "marketable_stock": 1,
        "plus_variant_cash_back": 0
      },
      "addToCartUrl": "\/cart\/add\/14209917\/1\/",
      "addToYaldaCartUrl": "\/ajax\/cart\/move\/save-for-yalda\/14209917\/",
      "dcPoint": 150,
      "is_free_shipment": true,
      "providerData": {
        "description": "\u0645\u0648\u062c\u0648\u062f \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u0641\u0631\u0648\u0634\u0646\u062f\u0647",
        "providers": [{
          "title": "\u0627\u0631\u0633\u0627\u0644 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647",
          "description": "\u0627\u06cc\u0646 \u06a9\u0627\u0644\u0627 \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u0645\u0648\u062c\u0648\u062f \u0648 \u0622\u0645\u0627\u062f\u0647 \u067e\u0631\u062f\u0627\u0632\u0634 \u0627\u0633\u062a \u0648 \u0627\u0645\u06a9\u0627\u0646 \u0627\u0631\u0633\u0627\u0644 \u0645\u0633\u062a\u0642\u06cc\u0645 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u062f\u0627\u0631\u062f."
        }, {
          "title": "\u0627\u0631\u0633\u0627\u0644 \u062a\u0648\u0633\u0637 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631",
          "description": "\u0627\u06cc\u0646 \u06a9\u0627\u0644\u0627 \u067e\u0633 \u0627\u0632 \u0645\u062f\u062a \u0632\u0645\u0627\u0646 \u0645\u0634\u062e\u0635 \u0634\u062f\u0647 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062a\u0627\u0645\u06cc\u0646 \u0648 \u0622\u0645\u0627\u062f\u0647 \u067e\u0631\u062f\u0627\u0632\u0634 \u0645\u06cc\u200c\u06af\u0631\u062f\u062f \u0648 \u062a\u0648\u0633\u0637 \u067e\u06cc\u06a9 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062f\u0631 \u0628\u0627\u0632\u0647 \u0627\u0646\u062a\u062e\u0627\u0628\u06cc \u0627\u0631\u0633\u0627\u0644 \u062e\u0648\u0627\u0647\u062f \u0634\u062f."
        }],
        "hasLeadTime": false,
        "badge_type": "without_lead_time"
      },
      "newProviderData": [{
        "type": "digikala",
        "has_lead_time": true,
        "text": "\u0627\u0631\u0633\u0627\u0644 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631"
      }, {
        "type": "seller",
        "has_lead_time": true,
        "text": "\u0627\u0631\u0633\u0627\u0644 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u0627\u0632 1 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631"
      }],
      "isExistsInWarehouse": false
    }, "15865260": {
      "id": 15865260,
      "active": true,
      "active_digistyle": true,
      "ovl_selling_active": true,
      "title": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0627\u067e\u0644 \u0645\u062f\u0644 iPhone 12 Pro Max A2412 \u062f\u0648 \u0633\u06cc\u0645\u200c \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 512 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a | \u0622\u0628\u06cc \u062a\u06cc\u0631\u0647 | \u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0647\u0645\u0627 \u062a\u0644\u06a9\u0627\u0645",
      "color": {
        "id": 42,
        "title": "\u0622\u0628\u06cc \u062a\u06cc\u0631\u0647",
        "code": "#4c5e74",
        "hexCode": "#4c5e74",
        "hex_code": "#4c5e74"
      },
      "size": [],
      "site": "digikala",
      "warranty": {
        "id": 2817,
        "title": "\u06af\u0627\u0631\u0627\u0646\u062a\u06cc 18 \u0645\u0627\u0647\u0647 \u0647\u0645\u0627 \u062a\u0644\u06a9\u0627\u0645",
        "description": null,
        "phone": null,
        "address": null,
        "working_hours": null,
        "condition": null
      },
      "marketplace_seller": {
        "id": 439730,
        "name": "\u0645\u0648\u0628\u0627\u06cc\u0644 \u06af\u0644\u0633\u062a\u0627\u0646",
        "rate": 0,
        "rateCount": 0,
        "rating": {
          "cancel_percentage": 0,
          "cancel_summarize": "very_bad",
          "return_percentage": 0,
          "return_summarize": "very_bad",
          "ship_on_time_percentage": 0,
          "ship_on_time_summarize": "very_bad",
          "final_score": 0,
          "final_percentage": 0
        },
        "stars": 0,
        "is_trusted": false,
        "is_official_seller": false,
        "is_roosta": false,
        "url": "\/seller\/cnfht\/",
        "registerTimeAgo": "6 \u0645\u0627\u0647, 3 \u0647\u0641\u062a\u0647"
      },
      "leadTime": 2,
      "shipping_type": "digikala",
      "gifts": [],
      "gift_product_ids": [],
      "seller_lead_time": 0,
      "market_place_selling_stock": 1,
      "is_fresh": false,
      "scheduled_stock": false,
      "promotion_price_id": null,
      "is_digikala_owner": false,
      "rank": 91.03,
      "sr": null,
      "has_similar_variants": false,
      "fast_shopping_badge": false,
      "fast_shopping_confirm": false,
      "is_multi_warehouse": false,
      "is_ship_by_seller": false,
      "is_eligible_for_jet_delivery": false,
      "plus_cash_back": null,
      "stats": null,
      "available_on_website": true,
      "provider": "digikala",
      "is_heavy": false,
      "is_electronic": false,
      "sbs_seller_cities": [],
      "price_list": {
        "id": 423498593,
        "discount_percent": null,
        "rrp_price": 530000000,
        "selling_price": 530000000,
        "is_incredible_offer": false,
        "is_plus_offer": false,
        "is_sponsored_offer": false,
        "is_locked_for_plus": false,
        "promotion_id": null,
        "timer": null,
        "pre_sell": false,
        "variant_id": 15865260,
        "orderLimit": 1,
        "initial_limit": null,
        "tags": null,
        "cache_key_created_at": "2021-04-19 16:19:45",
        "cache_update_source": "supernova-digikala-desktop",
        "discount_amount": 0,
        "discount": 0,
        "show_discount_badge": false,
        "marketable_stock": 1,
        "plus_variant_cash_back": 0
      },
      "addToCartUrl": "\/cart\/add\/15865260\/1\/",
      "addToYaldaCartUrl": "\/ajax\/cart\/move\/save-for-yalda\/15865260\/",
      "dcPoint": 150,
      "is_free_shipment": true,
      "providerData": {
        "description": "\u0645\u0648\u062c\u0648\u062f \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u0641\u0631\u0648\u0634\u0646\u062f\u0647",
        "providers": [{
          "title": "\u0627\u0631\u0633\u0627\u0644 \u062a\u0648\u0633\u0637 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 2 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631",
          "description": "\u0627\u06cc\u0646 \u06a9\u0627\u0644\u0627 \u067e\u0633 \u0627\u0632 \u0645\u062f\u062a \u0632\u0645\u0627\u0646 \u0645\u0634\u062e\u0635 \u0634\u062f\u0647 \u062a\u0648\u0633\u0637 \u0641\u0631\u0648\u0634\u0646\u062f\u0647 \u062f\u0631 \u0627\u0646\u0628\u0627\u0631 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062a\u0627\u0645\u06cc\u0646 \u0648 \u0622\u0645\u0627\u062f\u0647 \u067e\u0631\u062f\u0627\u0632\u0634 \u0645\u06cc\u200c\u06af\u0631\u062f\u062f \u0648 \u062a\u0648\u0633\u0637 \u067e\u06cc\u06a9 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u062f\u0631 \u0628\u0627\u0632\u0647 \u0627\u0646\u062a\u062e\u0627\u0628\u06cc \u0627\u0631\u0633\u0627\u0644 \u062e\u0648\u0627\u0647\u062f \u0634\u062f."
        }],
        "hasLeadTime": true,
        "badge_type": "with_lead_time"
      },
      "newProviderData": [{
        "type": "digikala",
        "has_lead_time": true,
        "text": "\u0627\u0631\u0633\u0627\u0644 \u062f\u06cc\u062c\u06cc\u200c\u06a9\u0627\u0644\u0627 \u0627\u0632 2 \u0631\u0648\u0632 \u06a9\u0627\u0631\u06cc \u062f\u06cc\u06af\u0631"
      }],
      "isExistsInWarehouse": false
    }
  };
  var defaultVariantId = 14209915;
  var maxVisibleVariant = 3;
  var maxVisibleSupplier = 3;
  var hasColorOrSize = true;
  var sellerStatistics = [];
  var hasQuickView = false;
  var cart = {"cartId": 0, "variants": [], "products": [], "itemCount": 0, "isPlusUser": false};
  var productId = 3555626;
  var videos = {
    "8339": {
      "src": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/3fc190b9a3418b2189cf418fd6dbd93ea646dc13_1606733823.mp4",
      "playlist": "https:\/\/dkstatics-public.digikala.com\/digikala-video-playlist\/65a9742d046a76387e9514dfea87b2de0594e0e2_1606734556.m3u8",
      "sources": [{"file": "https:\/\/dkstatics-public.digikala.com\/digikala-video-playlist\/65a9742d046a76387e9514dfea87b2de0594e0e2_1606734556.m3u8"}, [{"file": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/bb17e3c7ca87ea4e1cfc5702f8649f55cb413f5d_1606733850.mp4"}], [{"file": "https:\/\/dkstatics-public.digikala.com\/digikala-video\/1249707355e3e3fcf21b52e0b1b9ac0c10298eb5_1606734555.mp4"}]],
      "cover_big": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/2088368572727bc4faca00bc828ca8196a65d3a8_1606733831.jpg?x-oss-process=image\/resize,w_600\/quality,q_80",
      "cover_thumb_small": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/2088368572727bc4faca00bc828ca8196a65d3a8_1606733831.jpg?x-oss-process=image\/resize,m_fill,h_64,w_64",
      "cover_thumb_big": "https:\/\/dkstatics-public.digikala.com\/digikala-video-cover\/2088368572727bc4faca00bc828ca8196a65d3a8_1606733831.jpg?x-oss-process=image\/resize,m_fill,h_115,w_115",
      "title": "iphone 12 pro",
      "description": "",
      "duration": 140
    }
  };
  var enhanced_ecommerce = {
    "id": 3555626,
    "name": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0627\u067e\u0644 \u0645\u062f\u0644 iPhone 12 Pro Max A2412 \u062f\u0648 \u0633\u06cc\u0645\u200c \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 512 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a",
    "category": "MO",
    "category_id": 11,
    "brand": "apple",
    "variant": 14209915,
    "price": 509900000,
    "discount_percent": 0,
    "quantity": 1
  };
  var categoryId = 11;
  var nowTimeInUTC = "2021-04-19 16:52:13";
  var emarsysCategoryBreadcrumb = [];
  var emarsysBrand = "\u0627\u067e\u0644";
  var ecpd2 = {
    "id": 3555626,
    "title": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644 \u0627\u067e\u0644 \u0645\u062f\u0644 iPhone 12 Pro Max A2412 \u062f\u0648 \u0633\u06cc\u0645\u200c \u06a9\u0627\u0631\u062a \u0638\u0631\u0641\u06cc\u062a 512 \u06af\u06cc\u06af\u0627\u0628\u0627\u06cc\u062a",
    "has_gift": false,
    "is_exclusive": false,
    "is_incredible": 0,
    "is_selling_and_sales": 0,
    "multi_color": true,
    "multi_size": false,
    "multi_warranty": true,
    "multi_seller": true,
    "site_category": ["\u06a9\u0627\u0644\u0627\u06cc \u062f\u06cc\u062c\u06cc\u062a\u0627\u0644", "\u0645\u0648\u0628\u0627\u06cc\u0644", "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644"],
    "supply_category": ["MO", "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644"],
    "category": {"id": 11, "title": "\u06af\u0648\u0634\u06cc \u0645\u0648\u0628\u0627\u06cc\u0644"},
    "brand": {"id": 10, "title": "\u0627\u067e\u0644"},
    "price": {"selling_price": 509900000, "discount_percent": 0},
    "status": "marketable",
    "variants": [{"id": 14209915, "seller": 4064, "color": 11, "size": 0, "warranty": 4832}, {
      "id": 14976390,
      "seller": 106110,
      "color": 15,
      "size": 0,
      "warranty": 4832
    }, {"id": 15859017, "seller": 517122, "color": 11, "size": 0, "warranty": 4832}, {
      "id": 15488759,
      "seller": 517122,
      "color": 1,
      "size": 0,
      "warranty": 4832
    }, {"id": 14209917, "seller": 4064, "color": 15, "size": 0, "warranty": 4832}, {
      "id": 15865260,
      "seller": 439730,
      "color": 42,
      "size": 0,
      "warranty": 2817
    }],
    "image_url": "https:\/\/dkstatics-public.digikala.com\/digikala-products\/be7a0e9bf7866759fa3cea7648b149f589a01040_1607438980.jpg?x-oss-process=image\/resize,m_lfit,h_350,w_350\/quality,q_60",
    "product_url": "https:\/\/www.digikala.com\/product\/dkp-3555626"
  };
  var isbn = null;
  var min_price_in_last_month = 499990000;
  var isPDP = true;
  var faqPageTitle = "pdp_section";
  var isAnanasFriendly = true;
  var userId = null;
  var adroRCActivation = true;
  var loginRegisterUrlWithBack = "\/users\/login-register\/?_back=https:\/\/www.digikala.com\/product\/dkp-3555626\/%25DA%25AF%25D9%2588%25D8%25B4%25DB%258C-%25D9%2585%25D9%2588%25D8%25A8%25D8%25A7%25DB%258C%25D9%2584-%25D8%25A7%25D9%25BE%25D9%2584-%25D9%2585%25D8%25AF%25D9%2584-iphone-12-pro-max-a2412-%25D8%25AF%25D9%2588-%25D8%25B3%25DB%258C%25D9%2585-%25DA%25A9%25D8%25A7%25D8%25B1%25D8%25AA-%25D8%25B8%25D8%25B1%25D9%2581%25DB%258C%25D8%25AA-512-%25DA%25AF%25DB%258C%25DA%25AF%25D8%25A7%25D8%25A8%25D8%25A7%25DB%258C%25D8%25AA";
  var isNewCustomer = false;
  var digiclubLuckyDrawEndTime = "2021-06-23 15:30:28";
  var activateUrl = "\/digiclub\/activate\/";
</script>


<script src="{{ asset('assets/js/sentry.js') }} "></script>
<script src="{{ asset('assets/js/jwplayer.js') }} "></script>
<script src="{{ asset('assets/js/jwpsrv.js') }} "></script>
<script src="{{ asset('assets/js/jwplayer.core.controls.js') }} "></script>
<script src="{{ asset('assets/js/jwplayer.core.controls.html5.js') }} "></script>
<script src="{{ asset('assets/js/provider.hlsjs.js') }} "></script>
<script src="{{ asset('assets/js/video-js.min.js') }} "></script>
<script src="{{ asset('assets/js/videojs-contrib-quality-levels.min.js') }} "></script>
<script src="{{ asset('assets/js/videojs-hls-quality-selector.min.js') }} "></script>
<script src="{{ asset('assets/js/videojs-hls-quality-selector1.min.js') }} "></script>
