<div class="c-checkout-bill__shipping-history-row ">
                  <span style="float: right;">
                    مرسوله ۲
                  </span>
  <span class="c-checkout-bill__shipping-history-title js-package-row-title">
                    <span style="background-image: url(http://diginova.test/media/deliveryMethods/1620894857.svg);width: 25px !important;height: 19px !important;float: right;background-repeat: no-repeat;background-size: 18px;margin-left: 0px;margin-top: 2px;"></span>
                  </span>
  <span style="margin-right: -10px !important;">
                            ارسال کالاهای بزرگ و سنگین
                  </span>

  <span class="c-checkout-bill__shipping-history-title js-package-row-alt-title u-hidden">
                    مرسوله ۲
                    <span class="c-checkout-bill__shipping-history-title--altShipping">
                        ارسال پستی
                    </span>
                  </span>
  <span class="c-checkout-bill__shipping-history-price c-checkout-bill__shipping-history-price--free-plus c-digiplus-sign--after js-package-row-plus-free-amount u-hidden"><span class="c-checkout__plus-delivery-counter">
                                 از ۰
                            </span>
                            رایگان پلاس
                        </span>
  <span class="c-checkout-bill__shipping-history-price js-package-row-non-free-amount">
                              <span class="c-checkout-bill__shipping-history-price--amount js-package-row-amount">
                                ۲8,۰۰۰
                              </span>
                              <span class="c-checkout-bill__shipping-history-price--currency">
                                تومان
                              </span>
                            </span>
  <span class="c-checkout-bill__shipping-history-price--free js-package-row-free-amount u-hidden">
                              رایگان
                            </span>
</div>
